
<select (change)="selectRange()" [(ngModel)]="range" name="range" id="input" class="form-control">
    <option [ngValue]="{scale: 15,type: 'DAY'}">Last 15 days</option>
    <option [ngValue]="{scale: 30, type:'DAY'}">Last 30 days</option>
    <option [ngValue]="{scale: 3, type: 'MONTH'}">Last 3 months</option>
    <option [ngValue]="{scale: 6, type: 'MONTH'}">Last 6 months</option>
</select>

<div echarts [options]="graphRecordService.option" [loading]="!recordService.loading" [merge]="recordService.mergeOptionHourly" [autoResize]="true" style="width:92vw;height:70vh;"></div>