.navbar .navbar-nav > li > a{
    margin: 5px 3px !important;
}
nav{
    background-color: currentColor;
}
.navbar-header{
    width: 45% !important;
}
#apiary-group{
    width: 100% !important;
}
#apiary-group li:first-child{
    width: 75%;
}
#apiary-group li:last-child{
    //width: 20%;
}

#select-Apiary{
    padding-top: 5px;
    margin-top: 5px;
}
label{
    padding-top: 5px;
    margin-top: 5px;
}
.crud-apiary{
    border: none;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.dropdown-toggle{
    padding-bottom: 0px !important;
    padding-top: 8px !important;
}
.color-items{
    cursor: pointer;
    text-align: center;
}
#lang-group{
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 30%;
}
#lang-group img{
    padding: 2px;
}
#lang-group img:hover{
    cursor: pointer;
}
.admin_userApiary{
    font-weight: bold;
    color: red;
}
#color-items{
    text-align: center;
}
@media (max-width: 991px){
    .navbar-nav > li {
        float: left !important;
    }
    .navbar-header{
        width: initial !important;
    }
    #apiary-group{
        width: 70% !important;
    }
    .navbar-toggle{
        margin-bottom: 0px !important;
    }
}

@media (max-width: 500px){
    .navbar-header{
        width: initial !important;
    }
    #apiary-group{
        width: 100% !important;
    }
    #apiary-group li:first-child{
        width: 55% !important;
    }
    #apiary-group li:last-child{
        width: initial !important;
    }
}
@media (max-width: 350px){
    #apiary-group li:first-child{
        width: 45% !important;
    }
}