.navbar .navbar-nav > li > a{
    margin: 5px 3px !important;
}
nav{
    background-color: currentColor;
}
#select-Apiary{
    padding-top: 5px;
    margin-top: 5px;
}
label{
    padding-top: 5px;
    margin-top: 5px;
}
.crud-apiary{
    border: none;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}
@media (max-width: 991px){
    .navbar-nav > li {
        float: left !important;
    }
}
.dropdown-toggle{
    padding-bottom: 0px !important;
    padding-top: 8px !important;
}
.color-items{
    cursor: pointer;
    text-align: center;
}
#lang-group{
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 30%;
}
#lang-group img{
    padding: 2px;
}
#lang-group img:hover{
    cursor: pointer;
}