#btn-feedback{
    position: fixed;
    bottom: 2%;
    left: 3px;
    width: 50px;
    box-shadow: 2px 2px black;
    opacity: 0.5;
    z-index: 5;
    border: none; 
    border-radius: 50%;
    padding: 0px;
    transition: all 0.7s linear;
}
img{
    width: 100%;
}
#btn-feedback:hover{
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transform: rotate(180deg);
    box-shadow: none;
}
textarea{
    width: 100%;
    height: 100px;
}
/* .modal-footer{
    display: flex;
    justify-content: space-between;
} */
.modal-footer p{
    padding-top: 5px;
}
#description-slack p:first-child{
    margin-bottom: 0px;
}
#group-btn{
    position: relative;
}
#group-btn button{
    position: absolute;
    bottom: 0px;
}
#group-btn button:first-child{
    left: 0px;
    margin-left: 8px;
}
#group-btn button:last-child{
    right: 0px;
}

#boutons{
    margin-top: 5%;
}