<button id="btn-feedback" type="button" data-toggle="tooltip" data-html="true" title="Your feedback"
  class="btn btn-default" data-toggle="modal" href="#feedback">
  <img src="./assets/img/feedback.svg" />
</button>

<div class="modal fade" id="feedback">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">Send us your feedback</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="feedbackForm">
          <textarea formControlName="comment" placeholder="Your comment"> </textarea>
        </form>
      </div>
      <div class="modal-footer">
        <div id="description-slack">
          <p>You can also join the conversation on slack<br /></p>
          <p style="text-align:center;"><a
              href="https://join.slack.com/t/mellisphera/shared_invite/enQtNjQzNDIwMTU2MDU1LTZiN2ZhODE1YTk2ODAwMjI1MTQyYjkzYWFkYzc4YjAwYzRhOGI2NTExZGFmOWRhNzE4OGY3MGNhZDU5NWY4NGU"
              target="_blank">sign-up</a> or 
            <a target="_blank"
              href="https://join.slack.com/t/mellisphera/shared_invite/enQtNjQzNDIwMTU2MDU1LTZiN2ZhODE1YTk2ODAwMjI1MTQyYjkzYWFkYzc4YjAwYzRhOGI2NTExZGFmOWRhNzE4OGY3MGNhZDU5NWY4NGU">login</a>
          </p>
        </div>
        <div id="group-btn">
          <button type="submit" class="btn btn-default" (click)="resForm();" data-dismiss="modal">
            Close
          </button>
          <button type="button" (click)="send()" class="btn btn-primary" data-dismiss="modal"
            [disabled]="feedbackForm.invalid">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>