<div class="container-fluid" id="body">
	<section id="content">
	    <section class="login-form" >
		<form (ngSubmit)="verifLogin()" role="login" *ngIf="formLogin">
			<div>
				<img src="./assets/logo.png" style="width:80px;" alt="" />
			</div>			
			<input type="email" name="email" [(ngModel)]="authService.login.email" placeholder="email" required class="form-control input-lg" />
			<input type="password" [(ngModel)]="authService.login.password" name="password" placeholder="Password" required class="form-control input-lg" />
            <div *ngIf="authService.errLogin" class="alert alert-danger" role="alert">
                    Access denied
            </div>
            <button type="submit" name="go" class="btn btn-lg btn-block btn-info">Login</button>
			<div>
				<a (click)="formLogin = !formLogin" href="#">Create account</a> or <a href="#">reset password</a>
            </div>
        </form>
        <form *ngIf="!formLogin" role="login" [formGroup]="signupForm" (ngSubmit)="signup();" #fsignUp="ngForm">
                <div>
                    <img src="./assets/logo.png" style="width:50px;height: 50px;" alt="" />
                </div>	
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input required formControlName="email" type="email" email class="form-control register" name="email" id="email" placeholder="Enter your Email" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div id="lengthAlert"><span>* 6 caractère min</span></div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input required formControlName="password" minlength="6" type="password" class="form-control register" name="password" placeholder="Enter your Password" />
                    </div>
                </div>
            </div>
            <div *ngIf="signupService.errSignup" class="alert alert-danger" role="alert">
                    {{ signupService.errSignupLabel }}
            </div>
            <div class="form-group ">
               <button [disabled]="fsignUp.invalid" type="submit" name="go" class="btn btn-lg btn-block btn-info">Sign up</button>
            </div>
            <div>
                <a (click)="formLogin = !formLogin" href="#">Sign-in</a>
            </div>
        </form>
		</section>
	</section>
</div>