<div class="row content">
    <nav>
        <ul class="nav nav-tabs">
            <li width="35" class="range-date" (click)="dailyRecTh.previousDay(rucherService.getCurrentApiary())">
                <a><img src="./assets/icons/next-button-4.png" width="35" /></a>
            </li>
            <li id="date">{{ getDateDaily() }}</li>
            <li class="range-date" (click)="dailyRecTh.nextDay(rucherService.getCurrentApiary())">
                <a><img src="./assets/icons/next-button-4.png" width="35" /></a>
            </li>
        </ul>
    </nav>
    <div class="grid-container" #myBounds id="cadre" [ngStyle]="{'background-image':'url('+rucherService.rucher.photo+')',
                                        'background-position' : 'top',
                                        'background-repeat' : 'no-repeat'}" ngfDrop [(validDrag)]="baseDropValid"
        [(file)]="photoApiary" class="my-drop-zone" [class.valid-drag]="baseDropValid"
        [(lastBaseUrl)]="rucherService.rucher.photo">
        <div inBounds="true" [bounds]="myBounds" [zIndex]="100" [preventDefaultEvent]="true" data-toggle="tooltip"
            (endOffset)="onMoveEnd($event, ruche)" ngDraggable class="hive-group drag-grid"
            *ngFor="let ruche of rucheService.ruches; let i = index" [id]="i" [style.top.%]="ruche.hivePosY"
            [style.left.%]="ruche.hivePosX" (mouseover)="onMouseover(ruche)">
            <div data-placement="top" [title]="infoRuche" (dblclick)="onClick(ruche);" class="ruche"
                [style.background-color]="dailyRecTh.getColorByPourcent(ruche.id)"><p class="vitality">{{ dailyRecTh.getPourcentByHive(ruche.id) }}</p>
            </div>
        </div>
    </div>
</div>

<!--
    "{'background-image':'url('+rucherService.rucher.photo+')', 
                        'background-position' : 'center',
                        'background-repeat' : 'no-repeat'}"
-->

<div *ngIf="photoApiary!=null" id="modal">
    <div class="modal-body">
        <p>Save background?</p>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="saveBackground();">Save changes</button>
            <button type="button" class="btn btn-secondary" (click)="cancelBackground();"
                data-dismiss="modal">Cancel</button>
        </div>
    </div>

</div>

<!--        <div data-toggle="tooltip" data-placement="top" [title]="infoRuche"
            *ngFor="let ruche of rucheService.ruches; let i = index" [style.left.%]="ruche.hivePosX"
            [style.top.%]="ruche.hivePosY" [id]="i" (mouseover)="onMouseover(ruche)" (dblclick)="onClick(ruche);"
            (stopped)="onDragEnd($event)" [allowedOffsets]="offset" class="ruche" ngDraggable
            [style.background-color]="dailyRecTh.getColorByPourcent(ruche.id)"><div id="vitality">{{ dailyRecTh.getPourcentByHive(ruche.id) }}</div>-->