// NAVBAR
.navbar{
    background-color: #4F4F51;
    margin: 0px;
    padding: 0px;
    height: 50px;
    border-bottom: 1px solid transparent;
}

.navbar-default{
    border-color: white;
}

#date{
    color: white;
    text-align: center;
    font-size: medium;
}

.range-date{
    cursor: pointer;
}

li:first-child img{
    transform: rotate(180deg);
}

.navbar-date li{
  display: inline-block;
  float: none !important;
  margin-top: -8px;
}

// center buttons

.button {
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #70A8B2; 
  color: white; 
  border: 2px solid #70A8B2;
}

.button1:hover {
  background-color: white;
  color: #4F4F51; 
}

.active {
  background-color: white; 
  color: #4F4F51; 
  border: 2px solid #70A8B2;
}

.active:hover {
  background-color: #70A8B2;
  color: white;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// LEFT buttons
.badge{
  z-index: 10 !important;
  background-color: red;
  color: white;
  font-size: medium;
}

.badge-button{
  margin-top: -30px;
  margin-left: -10px;
}

.button0 {
  background-color: #4F4F51; 
  color: white; 
  border: 2px solid #70A8B2;
  border-radius: 4px;
}

.button0:hover {
  background-color: white;
  color: #4F4F51; 
}

.active0{
  background-color: white;
  color: #4F4F51; 
}

.active0:hover{
  color: #70A8B2; 
  border: 2px solid #4F4F51;
}

#global{
  position: relative;
  margin : 0px;
}
// FOR A CELLPHONE SIZE

// PICTURE
#cadre {
  margin: 0px;
  overflow: hidden;
  //background: url("../../../assets/imageClient/testAccount.png") no-repeat center;
  background-size: contain;
  position: relative;
  border-bottom: 5px solid transparent;
  border-color: white;

  transform: rotate(0deg);
}

.photo{
  max-height: 75vh;
  max-width: 100%;

}

// FOR A NORMAL SCREEN
@media (min-width : 990px){
  #cadre {
    float: left;
    // height: 50vh;
    // background-color: #4F4F51;
    width: 50%;
    margin: 0px;
    margin-top: -19px;
    overflow: hidden;
    background-size: contain;
    position: relative;
    border-bottom: 5px solid transparent;
    border-color: white;
  
    transform: rotate(0deg);
  }

  .photo{
    max-height: 50vh;
    max-width: 100%;
  
  }

  #right{
    margin : 0px;
    margin-left:50%;
    margin-top: 20px;
  }
}

#clickHive{
  margin-top: 20px;
}


.hive-group{
    position: absolute;
    text-align: center;
    width: 10%;

    // background-color: white;
  }

.ruche {
 // position: absolute;
  font-size: 15px;
  margin-bottom: 2px;
  padding: 2px;
  margin: auto;
  margin-bottom: 5%;
  border-radius: 5px;
  border: 1px solid black;
  //border-radius: 50px;
  //box-shadow: 3px 2px 2px black;
}

// .handleHive{
//   background: linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%);
//   background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
//   background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
//   background-position: 0px 0px, 212px 116px, 0px 116px, 216px 0px;
//   padding: 10px;
//   transition: background-position 2s;
// }

// .handleHive:hover{
//   background-position: 212px 0px, 0px 116px, 0px 0px, 216px 116px;
// }

.handleHive{
  border: 1px dashed black;
  cursor: move;
}

.fixHive{
  cursor: pointer;
}

.highlightFix{
  border: 2px solid red;
}

.highlightHandle{
  border: 2px dashed red;
}

.badge-ruche{
  margin-left: 70%;
  margin-top: -80%;
}


.valid-drag {
  border: 3px dashed blue;
}
#modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 8px 8px 5px black;
}

.center-classe{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.hive-info{
  text-align: center;
  background-color: #4F4F51;
  color: white;
  // font-weight: bold;
  padding: 2px 2px;
  max-width: 100%;
  overflow-wrap: break-word;
  display: inline;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
}


.hive-info:hover{
  cursor: pointer;
  background-color: white;
  color: #4F4F51; 
}

.weightIncome{
  color: green;
}

// FOR RIGHT CLICK

.divCliqueDroitCache{
  display: none;
  position: absolute;
   width: 170px;
   margin-left: 70%;
   margin-top : 40%;
   padding-bottom: 3px;
   padding-left: 3px;
   padding-top: 3px;
   font-size : medium;
   
   background: #ededed;
}

.affiche{
  display: block !important;
  z-index:150 !important;
}

.fa-times{
  margin-left: 40px;
}

// .grid-container{
//   text-align: center;
// }

.my-drop-zone{
  text-align:center;
  width: 100%;
  height: 100%;
}

.alertNoData{
  font-size: medium;
  color : #4F4F51;
  margin-bottom: 1px !important;
}

.alertNoData a{
  margin-right: 10px !important;
  margin-top: -3px !important;
}

.close{
  font-size: 30px;
}

// FOR THE HIVES

@media (min-width: 1901px) {
  .ruche{
    width: 30px;
    height: 30px;
  }

  .hive-info{
    font-size: 18px;
  }

  .has-sensors{
    line-height: 32px !important;
  }
}

@media (max-width: 1900px) {
  .ruche{
    width: 30px;
    height: 30px;
  }

  .hive-info{
    font-size: 16px;
  }

  .has-sensors{
    line-height: 30px !important;
  }
}

@media (max-width: 1700px) {
  .hive-info{
    font-size: 14px;
  }
}

@media (max-width: 1550px) {
  .ruche{
    width: 25px;
    height: 25px;
  }

  .hive-info{
    font-size: 12px;
  }

  .has-sensors{
    line-height: 24px !important;
  }
}

@media (max-width: 1320px) {
  .ruche{
    width: 20px;
    height: 20px;
  }

  .hive-info{
    font-size: 10px;
  }

  .has-sensors{
    line-height: 21px !important;
  }
}

@media (max-width: 990px) {
  .ruche{
    width: 30px;
    height: 30px;
  }

  .hive-info{
    font-size: 18px;
  }

  .has-sensors{
    line-height: 32px !important;
  }
}

@media (max-width: 900px) {
  .hive-info{
    font-size: 16px;
  }

  .has-sensors{
    line-height: 29px !important;
  }
}

@media (max-width: 800px) {
  .hive-info{
    font-size: 14px;
  }

  .has-sensors{
    line-height: 26px !important;
  }
}

@media (max-width: 700px) {
  .ruche{
    width: 25px;
    height: 25px;
  }

  .hive-info{
    font-size: 12px;
  }

  .has-sensors{
    line-height: 23px !important;
  }
}

@media (max-width: 560px) {
  .ruche{
    width: 20px;
    height: 20px;
  }

  .hive-info{
    font-size: 10px;
  }

  .has-sensors{
    line-height: 20px !important;
  }
}

@media (max-width: 500px) {
  .ruche{
    width: 17px;
    height: 17px;
  }

  .hive-info{
    font-size: 9px;
  }

  .has-sensors{
    line-height: 18px !important;
  }
}

@media (max-width: 430px) {
  .hive-info{
    font-size: 8px;
  }

  .has-sensors{
    line-height: 17px !important;
  }
}

@media (max-width: 380px) {
  .hive-info{
    font-size: 7px;
  }

  .has-sensors{
    line-height: 15px !important;
  }
}


// NAVBAR

// HERE THE LEFT HAMBURGER
@media (max-width: 991px) {
#menuToggleHome
{
  display: block;
  position: relative;
  top: 5px;
  left: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggleHome input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggleHome span
{
  display: block;
  width: 5px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 2px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggleHome span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggleHome span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

// /* 
//  * Transform all the slices of hamburger
//  * into a crossmark.
//  */
// #menuToggleHome input:checked ~ span
// {
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: #cdcdcd;
// }

// /*
//  * But let's hide the middle one.
//  */
// #menuToggleHome input:checked ~ span:nth-last-child(3)
// {
//   // opacity: 0;
//   // transform: rotate(0deg) scale(0.2, 0.2);
// }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggleHome input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menuHome
{
  position: absolute;
  width: 220px;
  margin: -37px 0 0 -50px;
  padding-bottom: 50px;
  padding-left: 65px;
  padding-top: 70px;
  
  background: #4F4F51;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuHome li
{
  padding: 10px 0;
  font-size: medium;
}

/*
 * And let's slide it in from the left
 */
#menuToggleHome input:checked ~ ul
{
  transform: none;
}
}

.navbar-right{
  float: right !important;
}

#firstUL{
  list-style-type: none;
  display: inline-block;
}

@media (max-width: 991px) {
  .abs-center-x {
    position: relative;
    margin: 0px;
    transform: none;
    left: 0%;
  }

  #firstUL{
    margin-top: 10px;
    margin-left: -15px;
  }

  .button{
    margin: 0px;
    width : 120px;
  }

  .button0{
    margin-bottom: 1px;
  }

  #name{
    margin-top : 50px;
  }

  #menuHome li{
    margin : 0px;
    margin-bottom: -18px
  }
}

@media (max-width : 767px){

  #firstUL{
    margin-top: 10px;
    margin-left: -30px;
  }
}

@media (min-width: 992px) {

  #menuCheckboxHome{
    display: none;
  }
  .icon-bar{
    display: none;
  }

  #firstUL{
    margin-left: -80px;
  }

  #infoApiaryButton{
    margin-left: 25px;
  }
}

.collapse{
  z-index: 900;
}

#previous-date {
  margin-right: 20px;
}

#next-date{
  margin-left: 10px;
  margin-right: 40px;
}

.date-arrow{
  border: none;
  color: white;
  padding: 0px !important;
}

.date-arrow .fa{
  font-size: 35px;
}

.lock{
  border: none;
  color: white;
  padding: 0px !important;
  text-align: center;
  background-color: #4F4F51;
  // background-color: rgba($color: white, $alpha: 0.5);
  width: 45px;
  border-radius: 10px;
  opacity: 0.8;
}

.lock:hover{
  // color: black;
  opacity: 1;
}

.lock .fa{
  font-size: 35px;
  margin-right: 5px;
}

.lockButton{
  position: absolute;
  top: 5px;
  right : 20px;
  width: 35px;
}

.lockNav{
  border: none;
  color: white;
  padding: 0px !important;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  background: none;
  opacity: 0.8;
}

.lockNav:hover{
  opacity: 1;
}

.lockNav .fa{
  font-size: 35px;
}

.lockButtonNav{
  width: 35px;
}

.displayNone{
  display : none;
}