<div id="content" #content>
  <!-- BUTTONS -->
  <div id="divButton">
    <button class="button button0" (click)="downloadPDF()">Export to PDF</button>
    <input class="button button0" type="button" value="Download in PDF" (click)="captureScreen()" />
  </div>


  <!-- TO CONVERT -->
  <div id="page">
    <div id="contentToConvert">
      <br>
      <div id="header">
        <span id="date">{{ this.unitService.getDailyDate(this.date) }}</span>
        <span>
          <h3 id="title">Rucher {{this.rucherService.rucher.name}} : résumé</h3>
        </span>
      </div>
      <br>
      <br>
      <!-- ALERTS -->
      <div id="graph" echarts (chartInit)="onChartInit($event)" [options]="option" [autoResize]="true"
        style="width:100%;height:50vh"></div>

      <!-- NOTES -->
          <div class="panel panel-info">
            <div *ngIf="this.rucherService.getRucherNameById(this.rucherService.getCurrentApiary()) !== undefined"
              class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseTwo"><b>{{ 'APIARY_NOTES.TITLE' | translate}}
                    {{this.rucherService.getRucherNameById(this.rucherService.getCurrentApiary()).name}} depuis 30 jours</b></a>
              </h4>
            </div>
            <div *ngIf="this.rucherService.getRucherNameById(this.rucherService.getCurrentApiary()) === undefined"
              class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseTwo"><b>{{ 'APIARY_NOTES.TITLE' | translate}}</b></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
                <b class="text-success"></b>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{ 'HIVE_DETAIL.OBSERVATIONS.DATE' | translate}}</th>
                      <th scope="col">{{ 'HIVE_DETAIL.OBSERVATIONS.SENTENCE' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="hoverStyle" *ngFor="let obs of observationService.observationsApiary; let i = index;">
                      <ng-container *ngIf = "isValidDate(obs.date,30)">                   
                      <td>{{ obs.date | myDate }}</td>
                      <td>{{ obs.sentence }}</td>
                    </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <!-- HIVES -->
        <div *ngFor = "let hive of rucheService.ruches; let i = index">
            {{hive.name}}
            <div class="brood">
                <span
                    *ngIf="this.dailyRecTh.getPourcentByHive(hive.id) != null">{{ 'HIVE_DETAIL.CLICK.BROOD' | translate}}
                    : {{ this.dailyRecTh.getPourcentByHive(hive.id) }}</span>
                <span
                    *ngIf="this.dailyRecTh.getPourcentByHive(hive.id) === null">{{ 'HIVE_DETAIL.CLICK.BROOD' | translate}}
                    : {{ 'HIVE_DETAIL.CLICK.UNKNOWN' | translate}}</span>
            </div>
            <div class="weight">
            <span *ngIf="dailyRecordWservice.getWeightIncomeByHive(hive.id) !== null"
                class="hive-info">Poids : {{ graphGlobal.getStringWeightFormat(dailyRecordWservice.getWeightIncomeByHive(hive.id)) }}</span>
            <span *ngIf="dailyRecordWservice.getWeightIncomeByHive(hive.id) === null"
                class="hive-info">Poids : {{ 'HOME.NODATA' | translate}}</span>
            </div>
            <div class = "sensors">
                <span *ngIf="capteurService.getCapteursByHive(hive.id).length === 0"
                    class="hive-info">{{ 'HOME.NOSENSORS' | translate}}</span>
                <span *ngIf="capteurService.getCapteursByHive(hive.id).length !== 0">
                    <span *ngFor="let capt of capteurService.getCapteursByHive(hive.id); let i = index">
                        <span class="hive-info">{{ capt }}</span>
                        <br />
                    </span>
                </span>
            </div>
        </div>
    </div>

  </div>


</div>