<div class="weather-container">
  <nav class="navbar navbar-default" role="admin-navigation">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav buttonLeft">
      <li>
        <button type="button" id="weather-records" (click)="setButtonActive('weather-records')"
          class="button button0" data-toggle="tooltip" data-placement="top" title="{{ 'WEATHER.NAV.RECORDS' | translate }}"
          routerLink="./records">
          {{ 'WEATHER.NAV.RECORDS' | translate }}</button>
      </li>
      <li>
        <button type="button" id="weather-config" (click)="setButtonActive('weather-config')"
          class="button button0" data-toggle="tooltip" data-placement="top" title="{{ 'WEATHER.NAV.CONFIG' | translate }}"
          routerLink="./config">
          {{ 'WEATHER.NAV.CONFIG' | translate }}</button>
      </li>
    </ul>
    <ul class="nav nav-date navbar-nav navbar-right">
      <li style="width: 44px; color:white"><button style="width: 40px;color:white" type="button" (click)="previousDate()" class="btn date-arrow btn-transparent"><i
            class="fa fa-arrow-circle-left" id="previous-date"></i></button></li>
      <li id="dropdown">
        <div class="dropdown" id="date-dropdown">
          <button id="btn-date" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding-top: 8px;">
            <i class="fa fa-calendar-alt" style="margin-right: 10px;"></i>
            {{ w_d_service.start | myDate: 'DAILY' }} 
            <span id="arrow">&#8680;</span>
            {{ w_d_service.end | myDate: 'DAILY' }}
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" id="date-menu">
            <div id="input-date">
              <div class="form-group">
                <label>{{ 'MELLICHARTS.DATE.START' | translate }} </label>
                <input id="calendar-begin" class="form-control" [owlDateTimeTrigger]="dt1" [(ngModel)]="w_d_service.start"
                  [owlDateTime]="dt1">
                <owl-date-time (afterPickerClosed)="onCloseDatePicker()" [pickerType]="'calendar'" firstDayOfWeek="1"
                  #dt1></owl-date-time>

              </div>
              <div class="form-group">
                <label>{{ 'MELLICHARTS.DATE.END' | translate }} </label>
                <input id="calendar-end" class="form-control" [owlDateTimeTrigger]="dt2" [(ngModel)]="w_d_service.end"
                  [owlDateTime]="dt2">
                <owl-date-time (afterPickerClosed)="onCloseDatePicker()" [pickerType]="'calendar'" firstDayOfWeek="1"
                  #dt2></owl-date-time>
              </div>
              <button type="button" (click)="setDateFromInput()"
                class="btn btn-large button0 btn-block btn-primary">{{ 'MELLICHARTS.DATE.BTN_APPLY' | translate}}</button>
            </div>
            <div id="dt-scale">
              <div>
                <ul>
                  <li class="time weather-time" *ngFor="let dt of getRangeByType('DAY')" (click)="setRangeSelect(dt)">
                    {{ dt.scale }} {{ getRangeBYLang(dt) | lowercase }}</li>
                </ul>
                <ul>
                  <li class="time weather-time" *ngFor="let dt of getRangeByType('WEEK')" (click)="setRangeSelect(dt)">
                    {{ dt.scale }} {{ getRangeBYLang(dt) | lowercase }}</li>
                </ul>
                <ul>
                  <li class="time weather-time" *ngFor="let dt of getRangeByType('MONTH')" (click)="setRangeSelect(dt)">
                    {{ dt.scale }} {{ getRangeBYLang(dt) | lowercase }}</li>
                </ul>
                <ul>
                  <li class="time weather-time" *ngFor="let dt of getRangeByType('YEAR')" (click)="setRangeSelect(dt)">
                    {{ dt.scale }} {{ getRangeBYLang(dt) | lowercase }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><button type="button" style="color:white" (click)="nextDate()" class="btn date-arrow btn-transparent"><i id="next-date"
            class="fa fa-arrow-circle-right"></i></button>
      </li>
    </ul>
  </nav>
  <div class="row nopadding">
    <div class="apiaryGroup">
      <div id="main-menu" class="list-group">
        <ng-container *ngFor="let apiary of w_o_service.user_apiaries; let i = index;">
          <div [id]="apiary._id" style="display: flex; align-items: center;padding-right: 4px;padding-left: 6px;" data-parent="#main-menu"
            [class]="'list-group-item apiary ' + checkApiaryIfActive(apiary._id)" (click)="apiaryClick(apiary)">
            <a class="list-group-hive-item" style="display: flex;">
              <i class="circle" [style.background-color]="getColor(apiary)"></i>
              <span style="width:auto;" class="apiary-group-title dropleft" [id]="apiary._id + '_span'">{{ apiary.name }}</span>
            </a>
            
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div id="content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>

