#raw-weight-title, #norm-weight-title, #gain-weight-title{
  display: none;
}

#graph-raw-weight, #graph-norm-weight, #graph-gain-weight {
  width: 100%;
  height: 80vh;
}
.infoToolip{
  position: fixed;
  right: 30px;
  bottom: 10px;
}

.ul-weight{
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.ul-weight > li {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 30px;
}

.ul-weight > li > label{
  padding-left: 5px;
  font-size: 18px;
}

#ref_date{
  padding-top: 5px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
}

.input-wrapper i {
  position: absolute;
}

.input-wrapper {
  margin-bottom: 10px;
}

.fa-calendar{
  padding-top: 8px;
  min-width: 40px;
  font-size: 20px;
}

.weight_ref_date{
  width: 85%;
  padding: 10px;
  text-align: center;
}

.delete-date{
  height: 41px;
  width: 10px;
  border: 0;
  background-color: transparent;
  margin-left: -30px;
}

.delete-date:focus{
  outline: 0;
}

.fa-times{
  font-size: 24px;
  margin-left: -10px;
}

.fa-times:hover{
  color:red;
}

.weight_ref_date:hover{
  cursor: pointer;
}

#weight-table{
  margin-bottom: 20px;
}

#weight-table > table{
  font-family: 'Poppins' !important;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

#weight-table > table td, #weight-table > table th{
  font-family: 'Poppins' !important;
  border: 1px solid #ddd;
  padding: 8px;
}

#weight-table > table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d3d3d;
  color: white;
}

@media screen and (orientation: landscape){
  .infoToolip{
    position: fixed;
    right: 30px;
    bottom: 10px;
  }
  .fa-question-circle{
    position: fixed;
    right: 30px;
    bottom: 10px;
  }
}

@media screen and (orientation: portrait){
  .infoToolip{
    position: fixed;
    right: 30px;
    bottom: 10px;
  }
  .fa-question-circle{
    position: fixed;
    right: 30px;
    bottom: 10px;
  }
}
