#raw-weight-title, #norm-weight-title, #gain-weight-title{
  display: none;
  margin-bottom: 15px;
}

#graph-weight{
  width: 97%;
  height: 70vh;
}

.infoToolip{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  bottom: 10px;
}

.ul-weight{
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.ul-weight > li {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 30px;
}

.ul-weight > li > label{
  padding-left: 5px;
  font-size: 18px;
  display: flex;
}

.ul-weight > li > label > p{
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: 16px;
  font-family: 'Poppins' !important;
}

input[type=checkbox]
{
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
  padding-right: 15px;
}

.title-active{
  font-weight: 900;
  text-decoration: underline;
}

#ref_date{
  padding-top: 5px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  width: 100%;
}

.calendar-icon{
  position: absolute;
}

.input-wrapper {
  margin-bottom: 10px;
  width: 35%;
  text-align: center;
}

.fa-calendar{
  padding-top: 8px;
  min-width: 40px;
  font-size: 20px;
}

.weight_ref_date{
  padding: 10px;
  text-align: center;
}

.delete-date{
  width: 10px;
  border: 0;
  background-color: transparent;
  margin-left: -30px;
}

.delete-date:focus{
  outline: 0;
}

.fa-times{
  position: absolute;
  font-size: 20px;
  margin-left: -10px;
  margin-top: -18px;
}

.fa-times:hover{
  color:red;
}

.weight_ref_date:hover{
  cursor: pointer;
}

#weight-table{
  margin-top: -5%;
}

#weight-table > table{
  font-family: 'Poppins' !important;
  border-collapse: collapse;
  width: 85%;
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

#weight-table > table td, #weight-table > table th{
  font-family: 'Poppins' !important;
  border: 1px solid #ddd;
  padding: 8px;
}

#weight-table > table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d3d3d;
  color: white;
}

#separator{
  height: 100px !important;
}

::ng-deep .owl-dt-popup {
  right: 0 !important;
}



@media screen and (max-width: 400px) {
  .input-wrapper {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
  }
  ::ng-deep .owl-dt-popup {
    right: 0 !important;
  }
  .weight_ref_date{
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  #graph-weight{
    width: 95%;
    height: 60vh;
  }
}

@media screen and (max-width: 800px) and (min-width: 400px){
  .input-wrapper {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
  }
  ::ng-deep .owl-dt-popup {
    right: 0 !important;
  }
  .weight_ref_date{
    width: 80%;
    padding: 10px;
    text-align: center;
  }
  #graph-weight{
    width: 95%;
    height: 70vh;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px){
  .input-wrapper {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
  }
  ::ng-deep .owl-dt-popup {
    right: 0 !important;
  }
  .weight_ref_date{
    width: 70%;
    padding: 10px;
    text-align: center;
  }
  #graph-weight{
    width: 95%;
    height: 70vh;
  }
}
