#sidebar-tools-daily{
    position: fixed;
    height: 50vh;
    width: 9% !important;
    top: 10%;
    right: 2px;
    background-color: #333F3D;
}
#sidebar-tools-hourly{
    position: fixed;
    height: 50vh;
    width: 9% !important;
    top: 50%;
    right: 2px;
    background-color: #333F3D;
}
.item-type{
    color: white;
}
.active{
    background-color: white;
    color: black;
}
.item-type:hover {
    cursor:pointer;
}
.calendar{
    height: 600px;
    width: 100%;
}
.hourly{
    height: 600px;
    width: 90%;
}
 