nav{
  background-color: #208000;
}
nav h1{
  color: white;
}
nav section{
  display: flex;
  justify-content: center;
}
#content{
  display: flex;
  flex-wrap: wrap;
}
#text {
  width: 80%;
}
#logo img{
  margin-top: 8px;
  margin-right: 3px;
}