.container-fluid{
    background-color: #e20613;
    background-size: 100%;
}
#wrap{
    max-width: 52em;
    margin: 0 auto;
    padding: 0 3em;
    background-color: #FFF;
    font-family: "Intro", sans-serif;
}
#content{
    max-width: 640px;
    margin: auto;
}
#titre-group div,h1{
    display: inline-block;
}
#titre-group div img{
    margin-bottom: 19px;
}
