#btn-mv{
    font-size: 33px !important;
}

.hoverStyle:hover{
    border-left: 6px solid #70A8B2;
    background-color: #eafffd;
  }

.close{
    font-size: 30px;
}

.fa-times{
    margin-left: 15px;
  }