<div id="apiaryGeneral">
  <div id="graph">
  <div class="title">
      <img src="../../assets/img/apiary-icon.png" style="width:45px;height: 45px; margin-left: -7px; margin-top:-10px;" />
      {{this.rucherService.rucher.name}}
      <span
          *ngIf="this.rucherService.rucher.description!=null">{{': ' + this.rucherService.rucher.description}}</span>
  </div>
  <hr />
  <div id="apiaryAlerts">
    <app-alerts></app-alerts>
  </div>
  </div>
  <div id = "apiaryLeft">
  <div id="apiarynotes">
   <app-notes></app-notes>
  </div>
  </div>
  <div id="states">
      <hr id="allPage" />
    <app-states></app-states>
  </div>
  </div>