.th-date-sort:hover{
  cursor: pointer;
  background-color: #ddd;
}


.infoToolip{
    position: fixed;
    right: 30px;
    bottom: 10px;
}

.content{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.table-events{
    width: 98%;
    margin-top: 20px;
    margin-left: 1%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.table-events th{
    text-align: center;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.table-events pre{
    text-align: left;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0 0 0 5px;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
}

.table-events p{
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 5px;
}

.table-events td{
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table-events tbody{
    text-align: center;
}

.table-events tbody:nth-child(n){
    border-bottom: #ddd;
}

.inspection-icon{
    background: url('../../../../assets/ms-pics/ui/calendbars/inspect-api_cb.png') center no-repeat;
    background-size: 30px;
}

.event-icon{
    background: url('../../../../assets/ms-pics/ui/calendbars/inspect_cb.png') center no-repeat;
    background-size: 30px;
}

.alert-icon{
    background: url('../../../../assets/ms-pics/ui/calendbars/alert_cb.svg') center no-repeat;
    background-size: 30px;
}

.edit-icon{
    color:black;
    font-size: 20px;
}

.edit-icon:hover{
    color: rgb(0, 180, 0);
}

.delete-icon{
    color:black;
    font-size: 20px;
}

.delete-icon:hover{
    color: red;
}

.event-obs-container,
.alerts-container{
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.event-obs-item,
.alert-item{
    min-width: 30px;
    max-width: 35px;
    height: 30px;
    margin: 3px;
}

.edit-alert-choice{
    width: 100%;
    height: 15%;
    margin-top: 20px;
}

.edit-alert-choice-obs{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hives-alert-edit{
    margin: 5px 5px;
    height: 40px;
    width: 40px;
    border: 0;
    background-color: transparent;
}

.hives-alert-edit:hover{
  border: 1px solid rgb(233, 162, 9);
}

.edit-alert-desc{
    margin-top: 15px;
    margin-left: 5px;
    font-family: 'Poppins';
}

.edit-event-time-input,
.edit-alert-time-input{
  width:150px;
}

.edit-event-time-error,
.edit-alert-time-error,
.edit-alert-error{
  color: darkred;
  display: none;
  height: 30px;
  margin-left: 1%;
  margin-top: 15px;
}

.edit-event-hours-input, .edit-event-minutes-input,
.edit-alert-hours-input, .edit-alert-minutes-input{
  width: 50px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.edit-event-choice{
  width: 100%;
  height: 15%;
  margin-top: 20px;
}

.edit-event-choice-obs{
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.edit-event-notes, .edit-event-todo{
  width: 92%;
  height: 16%;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.edit-event-notes{
  margin-top: 30px;
}

.edit-event-notes-textarea, .edit-event-todo-textarea{
  display: none;
  overflow-y: hidden;
  margin-left: 5px;
  resize: none;
  width: 100%;
  height: 90px;
}

.add-event-notes-toggle {
  border-radius: 3px;
  margin: 0 3px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1px solid #ddd;
}

.add-event-todo-toggle {
  border-radius: 3px;
  margin: 0 3px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1px solid #ddd;
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/ui/assets/todo.png');
  background-position: center;
}

.hives-note-textarea-edit-active{
  display: block;
}

.hives-todo-textarea-edit-active{
  display: block;
}

.hives-obs-add{
  margin: 5px 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 0;
  background-color: transparent;
}

.hives-obs-add:hover{
  border: 1px solid skyblue;
}

.Default{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/default_b.png') center no-repeat;
  background-size: 30px;
}

.Default-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/default_cb.png') center no-repeat;
  background-size: 30px;
  border: 1px solid skyblue;
}

.hives-alert-edit.Dead{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/dead_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Dead-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/dead_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Hmax{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/hmax_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Hmax-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/hmax_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Hmin{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/hmin_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Hmin-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/hmin_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Honeydew{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/honeydew_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Honeydew-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/honeydew_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.LowBrood{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/lowbrood_bz.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.LowBrood-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/lowbrood_cbz.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Oxalic{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/oxalic_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Oxalic-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/oxalic_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Rswarm{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/rswarm_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Rswarm-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/rswarm_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Stolen{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/stolen_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Stolen-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/stolen_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Super\+{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super+_b.svg') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Super\+-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super+_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Super-{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super-_b.svg') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Super--active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super-_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Swarm{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/swarm_b.png') center no-repeat;
  background-size: 33px;
}

.hives-alert-edit.Swarm-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/swarm_cb.png') center no-repeat;
  background-size: 33px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Tmax{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/hightemp_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Tmax-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/hightemp_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Tmin{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/lowtemp_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Tmin-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/lowtemp_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.WIneg{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/wineg_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.WIneg-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/wineg_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.WIpos{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/wipos_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.WIpos-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/wipos_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.hives-alert-edit.Wlim{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/wlim_b.png') center no-repeat;
  background-size: 35px;
}

.hives-alert-edit.Wlim-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/wlim_cb.png') center no-repeat;
  background-size: 35px;
  border: 1px solid rgb(233, 162, 9);
}

.Lowbrood{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/lowbrood_b.png') center no-repeat;
  background-size: 35px;
}

.Lowbrood-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/lowbrood_cbz.png') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Normbrood{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/normbrood_b.svg') center no-repeat;
  background-size: 35px;
}

.Normbrood-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/normbrood_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Highbrood{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/highbrood_b.svg') center no-repeat;
  background-size: 35px;
}

.Highbrood-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/highbrood_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Nobrood{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/nobrood_b.svg') center no-repeat;
  background-size: 35px;
}

.Nobrood-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/nobrood_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Nobees{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/nobees_b.svg') center no-repeat;
  background-size: 35px;
}

.Nobees-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/nobees_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Lowbees{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/lowbees_b.svg') center no-repeat;
  background-size: 35px;
}

.Lowbees-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/lowbees_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Normbees{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/normbees_b.svg') center no-repeat;
  background-size: 35px;
}

.Normbees-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/normbees_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Highbees{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/highbees_b.svg') center no-repeat;
  background-size: 35px;
}

.Highbees-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/highbees_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Nores{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/nores_b.svg') center no-repeat;
  background-size: 35px;
}

.Nores-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/nores_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Lowres{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/lowres_b.svg') center no-repeat;
  background-size: 35px;
}

.Lowres-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/lowres_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Normres{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/normres_b.svg') center no-repeat;
  background-size: 35px;
}

.Normres-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/normres_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.Highres{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/highres_b.svg') center no-repeat;
  background-size: 35px;
}

.Highres-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/inspects/highres_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.hives-obs-add.Super\+{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super+_b.svg') center no-repeat;
  background-size: 35px;
}

.hives-obs-add.Super\+-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super+_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.hives-obs-add.Super-{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super-_b.svg') center no-repeat;
  background-size: 35px;
}

.hives-obs-add.Super--active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/super-_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.hives-obs-add.Swarm{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/swarm_b.png') center no-repeat;
  background-size: 33px;
}

.hives-obs-add.Swarm-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url('../../../../assets/ms-pics/alerts/ruche/swarm_cb.png') center no-repeat;
  background-size: 33px;
  border: 1px solid skyblue;
}


@media screen and (max-width: 1200px) {
  .table-events{
    width: 1070px;
  }
  .content{
    overflow-x: scroll;
  }
}
