
<section>
  <h3 style="text-align: center;">{{'MELLICHARTS.EVENT.TITLE' | translate }}</h3>
</section>
<div class="content">
  <table class="table-events">
    <thead>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.APIARY' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.HIVE' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.DATE' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.TYPE' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.PICTOS' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.NOTES_TASKS' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.EDIT' | translate }}</th>
      <th>{{'MELLICHARTS.EVENT.TABLE.HEADER.DELETE' | translate }}</th>
    </thead>
    <tbody class="table-body-events">
      
    </tbody>
  </table>
</div>
