<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/health']">Santé<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/stock']">Réserves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/observation']">Observations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/daily']">Jour x jour</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/hourly']">Heure x heure</a>
        </li>
    </ul>
</nav>