#weather-table{
    width: 98%;
    text-align: center;
    font-size: 16px;
}

#weather-table th{
    text-align: center;
    font-size: 14px;
    color: #9a9a9a !important
}

#weather-table td{
    vertical-align: middle;
    font-family: Poppins;
}

#weather-table td > *{
    vertical-align: middle;
}

.tr-add:hover{
    background-color: rgb(242, 253, 241);
    cursor: pointer;
}

.td-edit:hover{
    color: rgb(0, 192, 0);
    cursor: pointer;
}

.td-del:hover{
    color:red;
    cursor: pointer;
}

#modal-small{
    width: 360px;
}

.weather-modal-flex{
    display:flex;
    align-items: center;
}

.weather-field-name{
    font-weight: bold;
    margin: 0;
}

.weather-select{
    height: 25px; 
    background-color: rgb(248, 248, 248); 
    border: 1px solid #777; 
    border-radius: 5px;
}

.weather-config{
    width: 60%; 
    border-radius: 3px;
}

.weather-input{
    width: 200px;
    border-radius: 3px;
    border: 1px solid #777;
    height: 25px;
}

.weather-input-date{
    width: 100px;
    border-radius: 3px;
    border: 1px solid #777;
    height: 25px;
    text-align: center;
}

.weather-config-p{
    padding: 0;
    margin: 0;
}

#newSourceModal .cdk-overlay-pane.owl-dt-popup{
    right: 38.083px;
}

/* Chrome, Safari, Edge, Opera */
#newSourceModal input::-webkit-outer-spin-button,
#newSourceModal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#newSourceModal input[type=number] {
    -moz-appearance: textfield;
}

.weather-m-h{
    width:40px;
    height:25px;
    margin-left: 5px;
    margin-right: 5px;
}

.disabled{
    background-color: #eee;
}