li:first-child img{
    transform: rotate(180deg);
}
nav{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#navHive{
    text-align: right;
}
#navHive ul{
    display: inline-block;
    margin-top: 3px;
    margin-right: 15px;
}
#navHive li{ 
    display: inline;
    cursor: pointer;
}
#range-group select{
    display: inline-block;
    width: 25%;
}
#range-group{
    text-align: center;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #333F3D;
}
#hiveName{
    padding: 5px;
    color: #23CCEF;
    font-size: 15px;
}
ul{
    font-size: 10px;
    list-style: none;
}
.flex{
    display: flex;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    //color: #23CCEF;
    //background-color: blue !important;
    //border-radius: 8px;
    //color: white;
}
.onglets{
    font-size: 15px;
    transition: all 1s ease-out;
}
.onglets:hover{
    background-color: white;
    color: #23CCEF;
}
.tab-content>.active{
   // border: 1px solid black;    
}
.padding{
    margin-right: 7px;
}
.nav{
    background-color: #333F3D;
}
.tab-content{
    //margin-top: 10px;
}
#stack{
    margin-top: 15px;
}
#range-div{
    padding-left: 30px;
}
#no-data{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: x-large;
    transform: translate(-50%, -50%);
}
#no-data i{
    margin-right: 18%;
    vertical-align: middle;
}