<div class="content">
  <ul class="nav nav-tabs">
    <li class="active onglets" (click)="onTab('notes')">
      <a data-toggle="tab" href="#notes">
        <i class="fa fa fa-book fa-lg" aria-hidden="true"></i>
        {{ 'HIVE_DETAIL.NAV.NOTES' | translate}}</a>
    </li>
    <li (click)="onTab('stock')" class="onglets">
      <a data-toggle="tab" href="#stock">
        <i class="padding fa fa-balance-scale fa-lg" aria-hidden="true"></i>
        {{ 'HIVE_DETAIL.NAV.STOCK' | translate}}
      </a>
    </li>
    <li class="onglets" (click)="onTab('health')">
      <a data-toggle="tab" href="#health">
        <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
        {{ 'HIVE_DETAIL.NAV.HEALTH' | translate}}
      </a>
    </li>
    <li class="onglets" (click)="onTab('daily')">
      <a data-toggle="tab" href="#daily">
        <i class="fa fa-thermometer-3 fa-lg" aria-hidden="true"></i>
        {{ 'HIVE_DETAIL.NAV.DAILY' | translate}}
      </a>
    </li>
    <li class="onglets" (click)="onTab('hourly')">
      <a data-toggle="tab" href="#hourly">
        <i class="padding fa fa-line-chart fa-lg" aria-hidden="true"></i>
        {{ 'HIVE_DETAIL.NAV.CONDENSED' | translate}}
      </a>
    </li>
    <div id="navHive">
      <ul class="flex">
        <li width="35" (click)="previousHive()" class="navRuche">
          <a><img [src]="img" width="35" /></a>
        </li>
        <li id="hiveName">{{ hiveSelect.name }}</li>
        <li (click)="nextHive()" class="navRuche">
          <a><img [src]="img" width="35" /></a>
        </li>
      </ul>
    </div>
  </ul>
  <div class="tab-content">
    <div id="notes" class="tab-pane fade in active">
      <app-observation></app-observation>
    </div>
    <div id="stock" class="tab-pane fade">
      <div id="no-data" class="alert alert-info"
        *ngIf="dailyStockHoneyService.mergeOption.series.length < 1 && !loadingStockHoney || dailyRecordWservice.mergeOptionWeight.series[0].data.length < 1 && !dailyRecordWservice.loading">
        <i class="fa fa-info-circle fa-2x"></i><label>{{ 'HIVE_DETAIL.STOCK.NO_DATA' | translate}}</label>
        <div
          *ngIf="currentTab === 'stock' &&  dailyStockHoneyService.mergeOption.series.length < 1 && !loadingStockHoney">
          <strong>{{ 'HIVE_DETAIL.STOCK.STOCK' | translate}}</strong>
        </div>
        <div
          *ngIf="currentTab === 'stock' &&  dailyRecordWservice.mergeOptionWeight.series[0].data.length < 1 && !dailyRecordWservice.loading">
          <strong>{{ 'HIVE_DETAIL.STOCK.WEIGHT' | translate}}</strong>
        </div>
      </div>
      <div echarts [options]="grapheMielService.option"
        *ngIf="currentTab === 'stock' && currentTab === 'stock' && dailyStockHoneyService.mergeOption.series.length > 0"
        (chartInit)="onChartInit($event)" [loading]="loadingStockHoney" style="width:93vw; height: 40vh;"
        [merge]="dailyStockHoneyService.mergeOption" [autoResize]="true"></div>
      <div *ngIf="currentTab === 'stock' && dailyRecordWservice.mergeOptionWeight.series[0].data.length > 0" echarts
        [options]="calendrierPoids.option" [autoResize]="true" [merge]="dailyRecordWservice.mergeOptionWeight"
        [loading]="dailyRecordWservice.loading" style="width:93vw;height:40vh;" id="calendrierPoids">
      </div>

    </div>
    <div id="health" class="tab-pane fade">
      <app-health></app-health>
    </div>
    <div id="daily" class="tab-pane fade">
      <app-daily></app-daily>
    </div>
    <div id="hourly" class="tab-pane fade">
      <div class="row">
        <div class="col-sm-3" id="range-div">
          <label>{{ 'HIVE_DETAIL.HOURLY.RANGE' | translate}}</label>
          <select (change)="selectRange()" [(ngModel)]="range" name="range" class="form-control">
            <option *ngFor="let range of ranges" [ngValue]="range" [selected]="range.scale == 15">
              {{ 'HIVE_DETAIL.HOURLY.LAST' | translate}}
              {{
                 range.scale + "  " + traduction(range.type)
              }}</option>
          </select>
        </div>
      </div>

      <div echarts [options]="graphRecordService.option" (chartInit)="onChartInit($event)" [loading]="loaddingHourly"
        [merge]="recordService.mergeOptionHourly" [autoResize]="true" style="width:92vw;height:70vh;"></div>
    </div>
    <!--<router-outlet></router-outlet>>-->
  </div>
</div>