ul{
    padding: 0px;
}
li{
    list-style: none;
    background-image: url('../../../../assets/img/apiary-icon.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size:25px;
    padding: 5px;
    padding-left: 30px;
}
.puce-hive{
    background-image: url('../../../../assets/img/apiary-icon.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size:25px;
    width: 25px;
    height: 23px;
    margin-bottom: -4px;
}

.puce-apiary{
    background-image: url('../../../../assets/wizard/apiary.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size:25px;
    width: 25px;
    height: 23px;
    vertical-align: text-top;
    margin-right: 5px;
}
.sub-items{
    padding-left: 17%;
}
.apiary{
    font-weight: bold;
}
.circle{
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;

}
.col-xs{
    margin: auto !important;
}

.row{
    height: 50vh !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#stackGraph{
    height: 95vh;
}
.panel-body{
    padding: 2px !important;
}
.complete:hover{
    cursor: pointer;
    background-color: aqua;
}
.loading:hover{
    cursor: wait;
    background-color: aqua;
}
/* #col-graph{
    position: fixed;
    left: 18%;
} */
#range-group select{
    display: inline-block;
    width: 25%;
}
#range-group{
    text-align: center;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #333F3D;
}
#apiary-group{
    overflow: auto;
    scrollbar-width: none;
    white-space: pre-wrap;
    overflow-y: scroll;
    justify-content: space-between;
    height: 90vh;
}
#apiary-group::-webkit-scrollbar { 
    /* This is the magic bit for WebKit */
    display: none;
  }
@media  (max-width:767px){
    #col-graph{
        width: 100% !important;
    }
    #apiary-group{
        height: 100%;
    }
    #range-group select{
        width: 100%;
    }
}