.loginErrorMsg{
    color:#DD2424;
    font-style: unset;
}

body{
    background: #3D3D3F url('../../assets/mellispherfa.png') no-repeat center fixed;
    background-size: 80%;
}    
#content{
    color:white;
}
input[type=text],input[type=password]{
    width: 30%;
    color: white;
    background-color: rgba(0,0,0,0.5);
}