<div class="row content">
    <div class="container-fluid" style="background-color: white;">
        <div class="content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#map">Sign-up</a></li>
                <li><a data-toggle="tab" href="#test">unknown</a></li>
            </ul>
            <div class="tab-content">
                <div id="map" class="tab-pane fade in active">
                   <div echarts [options]="connectionMap.option"  (chartInit)="onChartInit($event)" [merge]="merge" style="width:95vw; height:40vh;"></div>
                </div>
                <div id="test" class="tab-pane fade">
                    <p>unknown</p>
                </div>
            </div>
        </div>
    </div>
</div>