<div class="content-page">
    <nav class="navbar navbar-default" role="admin-navigation">
        <div class="navbar-header">
            <a class="navbar-brand" (click)="focus('status')" [routerLink]="['./status']">Admin</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="status" (click)="focus('status')"><a [routerLink]="['./status']">General</a></li>
            <li id="kpisynclog" (click)="focus('kpisynclog')"><a [routerLink]="[ './kpisynclog']">kpisynclog</a></li>
            <li id="sensor" (click)="focus('sensor')"><a [routerLink]="['./sensor-manager']" >Sensors</a></li>
            <li id="apiary-demo" (click)="focus('apiary-demo')"><a [routerLink]="['./demo-apiary']" >Apiary demo</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>