<div class="content-page">
    <nav class="navbar navbar-default" role="admin-navigation">
        <div class="navbar-header">
            <a class="navbar-brand"  (click)="focus('status')" [routerLink]="['./status']">Admin</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="status" (click)="focus('status')"><a [routerLink]="['./status']">General</a></li>
            <li id="kpisynclog" (click)="focus('kpisynclog')"><a [routerLink]="[ './kpisynclog']">kpisynclog</a></li>
            <li><a>Page 2</a></li>
            <li><a>Page 3</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>