<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of adminService.allUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td><button (click)="exeChangeLog(user.id)" type="button" class="btn btn-success"><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
      </tr> 
    </tbody>
  </table>
  
  
</div>