nav[role=admin-navigation] {
    color: white;
    background-color: #4F4F51;
}
.nav li .btn{
    color: white !important;
}


.button0 {
    background-color: #4F4F51; 
    color: white; 
    border: 2px solid #70A8B2;
   border-radius: 4px;
}

.button {
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar-nav{
    margin-left: 10px;
}