<nav class="navbar navbar-default" role="admin-navigation">
  <div class="navbar-header">
  </div>
  <ul class="nav navbar-nav">
    <li>
      <button type="button" class="button button0" (click)="navigate('sensor-alert')" data-toggle="tooltip"
        data-placement="top" title="toto">Sensor</button>
    </li>
    <li>
      <button type="button" class="button button0" (click)="navigate('weather-alert')" data-toggle="tooltip"
        data-placement="top" title="toto">Weather</button>
    </li>
    <li>
      <button type="button" class="button button0" (click)="navigate('hive-alert')" data-toggle="tooltip"
        data-placement="top" title="toto">Hive</button>
    </li>
    <li>
      <button type="button" class="button button0" (click)="navigate('alert-submit')" data-toggle="tooltip"
        data-placement="top" title="toto">Submit</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>