<div class="row content">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Change Password</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label for="newPassword">New password</label>
                                    <input type="text" class="form-control" id="newPassword" placeholder="Input field">
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm password</label>
                                    <input type="text" class="form-control" id="confirmPassword"
                                        placeholder="Input field">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Format Date</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group" *ngFor="let format of userConfig.dtFormat; let i = index;">
                        <input type="radio" [(ngModel)]="formatDt" [value]="i"
                            placeholder="Input field"><label>{{ format }}</label>
                    </div>
                    <button type="button" (click)="saveFormat()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Unit systems</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div id="unité">
                        <div class="form-group">
                            <input [(ngModel)]="unitSys" value="METRIC" type="radio" /><label>Metric</label>
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="unitSys" value="IMPERIAL" type="radio" /><label>Imperial</label>
                        </div>
                        <button type="button" (click)="saveUnit()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>