<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar ></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <router-outlet></router-outlet>
    
        
        <div class="container-fluid" style="background-color: white;">
                <div class="row content">
                        <div class="col-sm-9">                        
                        
                            <div class="form-inline" >
                                <div class="form-group">
                            
                                </div>
                            </div>
                   
                            <!-- Template for the city component -->

        
                            <div class="container-fluid">                  
                                
                                <div id="cityCont" class="container">
                                    
                                         
                            <div>
                                    <div style="text-align:center">
                                            <h2 *ngIf="dataCity.city">
                                                    <img src="https://openweathermap.org/img/w/{{dataCity.list[0].weather[0].icon}}.png" class="forecast-icon" alt="forecast">
                                                    {{dataCity.list[0].main.temp_min }}°    {{dataCity.list[0].weather[0].description}} à {{dataCity.city.name}}, {{dataCity.city.country}}
                                                </h2>      
                                    </div>
                            <app-calendrier></app-calendrier>
                            <br><br>    
                            </div>
                </div>




              
              
        
<!--
           
                <div class="container">

                    
                        <h4 class="text-center"*ngIf="dataCity.city">
                                <img src="https://openweathermap.org/img/w/{{dataCity.list[0].weather[0].icon}}.png" class="forecast-icon" alt="forecast">
                                {{dataCity.list[0].main.temp_min }}°    {{dataCity.list[0].weather[0].description}} à {{dataCity.city.name}}, {{dataCity.city.country}}
                        </h4>      
                    
                                            <table class="table table-striped " >
                                                    <tr >
                                                        
                                                        <td class="card"*ngFor="let cityForecast of dataCity.list  | slice:0:6">
                                                            <div class="" style="width: 18rem;">
                                                                    <div class="card-top text-center"><b>Le</b> {{cityForecast.dt_txt }}</div>
                                                                    <div class="text-center">
                                                                            <img class="card-img-top text-center" src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" style="width:70px; height:70px;" alt="Card image cap">
                                                                    </div>
                                                                        
                                                                    <div class="card-body">
                                                                        <h5 class="card-title text-center">{{cityForecast.weather[0].description}}</h5>
                                                                        <p class="card-text text-center"> <b>Min : </b>{{cityForecast.main.temp_min}}  <b>Max :</b>{{cityForecast.main.temp_max}} </p>
                                                                        
                                                                    </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="width:200px;" >
                                                            
                                                        <td class="card" *ngFor="let cityForecast of dataCity.list  | slice:7:13">
                                                            <div>
                                                                <div class="" style="width: 18rem;">
                                                                        <div class="card-top text-center"><b>Le</b> {{cityForecast.dt_txt }}</div>
                                                                        <div class="text-center">
                                                                                <img class="card-img-top text-center" src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" style="width:70px; height:70px;"  alt="Card image cap">
                                                                        </div>
                                                                            
                                                                        <div class="card-body">
                                                                            <h5 class="card-title text-center">{{cityForecast.weather[0].description}}</h5>
                                                                            <p class="card-text text-center"> <b>Min : </b>{{cityForecast.main.temp_min}}  <b>Max :</b>{{cityForecast.main.temp_max}} </p>
                                                                            
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="width:200px;" >
                                                            
                                                        <td class="card" *ngFor="let cityForecast of dataCity.list  | slice:13:19">
                                                            <div class="" style="width: 18rem;">
                                                                    <div class="card-top text-center"><b>Date : </b> {{cityForecast.dt_txt }}</div>
                                                                    <div class="text-center">
                                                                            <img class="card-img-top text-center" src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" style="width:70px; height:70px;" alt="Card image cap">
                                                                    </div>
                                                                        
                                                                    <div class="card-body">
                                                                        <h5 class="card-title text-center">{{cityForecast.weather[0].description}}</h5>
                                                                        <p class="card-text text-center"> <b>Min : </b>{{cityForecast.main.temp_min}}  <b>Max :</b>{{cityForecast.main.temp_max}} </p>
                                                                        
                                                                    </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                    </div>
    
              
                
        
                -->
        </div>