<div class="container-fluid" style="background-color: white;">
  <div class="col">
    <div echarts [options]="calendrierTempInt.option" [loading]="!dailyRecordThService.statusLoading" [merge]="dailyRecordWservice.mergeOptionTempExt" [autoResize]="true" style="width:100%"></div>
    <div echarts [options]="calendrierTempInt.option" [loading]="!dailyRecordThService.statusLoading" [merge]="dailyRecordThService.mergeOptionTint" [autoResize]="true" style="width:100%;"></div>
    <div echarts [options]="calendrierTempInt.option" [loading]="!dailyRecordThService.statusLoading" [merge]="dailyRecordThService.mergeOptionHint" [autoResize]="true" style="width:100%;"></div>  
  </div>
</div>
