<div class="container-fluid" style="background-color: white;">
    <div class="form-inline" >
        <div class="form-group">
                <h4>Hive # : {{ rucheName }} </h4>
        </div>
      </div>
  <div class="col">
    <div echarts [options]="calendrierTempInt.option" [loading]="!dailyRecordThService.statusLoading" [merge]="dailyRecordWservice.mergeOptionTempExt" style="height: 25vh;" [autoResize]="true"></div>
    <div echarts [options]="calendrierTempInt.option" [loading]="!dailyRecordThService.statusLoading" [merge]="dailyRecordThService.mergeOptionTint" style="height: 25vh;" [autoResize]="true"></div>
    <div echarts [options]="calendrierTempInt.option" [loading]="!dailyRecordThService.statusLoading" [merge]="dailyRecordThService.mergeOptionHint" style="height: 25vh;" [autoResize]="true"></div>  
  </div>
</div>
