<div id="content">
  <div class="info-group">
    <p class="icon-group float"><img src="./assets/img/sensor-icon.png" /></p>
    <h3 class="stop-float">Sensors : {{ adminService.allSensors.length }} </h3>
  </div>
  <div class="info-group">
    <p class="icon-group float"><img src="./assets/img/admin.png"></p>
    <h3 class="stop-float">Users : {{ adminService.allUsers.length }}</h3>
    <div class="charts" echarts [options]="options"  id="chart-pie" style="width:100%;height: 400px;"></div>
</div>
  <div class="info-group ">
    <p class="float"><img src="./assets/icons/login-icon.png" /></p>
    <h3 class="stop-float">Dernières connections : </h3>
    <ul class="float">
      <li *ngFor="let connexion of adminService.lastConnection">{{ connexion.connectionDate | myDate }}
        {{ connexion.username }}</li>
    </ul>
  </div>
</div>