<div class="row">

  <div class="info-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p class="icon-group float"><img src="./assets/img/sensor-icon.png" width="200px;"/></p>
    <h2 class="stop-float">Sensors : {{ adminService.allSensors.length }} </h2>
  </div>
  <div class="info-group  col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p class="icon-group float"><img src="./assets/img/admin.png" width="200px"/></p>
    <h2 class="stop-float">Users : {{ adminService.allUsers.length }}</h2>
  </div>

</div>

<div class="row">
  <div class="info-group  col-xs-6 col-sm-6 col-md-6 col-lg-6">
    Derniére connection
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

  </div>

</div>