.info-group{
    padding: 10px;
    height: 400px;
    position: relative;
    width: calc(100% / 3);
    background-color: #3F60A6;
    border: 1px solid white;
    color: white;
}
.float{
    float: left;
}
#content{
    max-height: 78vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
img{
    width: 100px;
}
p{
    margin-right: 8px;
}
ul {
    list-style: none;
}
.row {
    margin:0px !important;
    min-height: 39vh;
 }
 .charts{
     position: absolute;
     bottom: 2%;
 }
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#log-list {
    scrollbar-width: none;
    white-space: pre-wrap;
    overflow-y: scroll;
}
#log-list::-webkit-scrollbar { 
    /* This is the magic bit for WebKit */
    display: none;
  }
@media (max-width:800px) {
    .float{
        float: none;
    }
    .info-group {
        width: 100%;
    }
    .charts {
        height: 200px;
    }
}