<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar ></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <router-outlet></router-outlet>
  
  
  <!-- change component content here-->                    
  <div class="container-fluid" style="background-color:white;">
    <div class="row content">
            <div class="col-sm-9">                        
                  <div class="form-inline" >
                    <div class="form-group">
                        <label><h4>Rucher :</h4> </label>
                        <select [(ngModel)]="rucherService.rucher" name="rucher" id="sel1" class="form-control" (change)="onSelectRucher()">
                            <option *ngFor="let rucher of rucherService.ruchers; let i = index" [id]="i" [ngValue]="rucher" >{{ rucher.name }}</option>
                          </select>  
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRucherModal" >Créer rucher</button>
                    </div>
                  </div>
                  <div class="bs-example">
                      <div class="panel-group" id="accordion">
                          <div class="panel panel-info ">
                              <div class="panel-heading "  >
                                  <h4 class="panel-title" >
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>1. Ruches</b></a>
                                  </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <b class="text-success"></b>
                                      <button data-toggle="tooltip" data-html="true" title="Nouvelle Ruche" data-toggle="modal" style="margin-left: 98%; padding: 0;border: none; background: none;"
                                              data-target="#newRucheModal"  class="btn btn-success btn-lg" >
                                          <i class="fa fa-plus"></i>
                                      </button>
  
                                      <!-- tables ruche -->
                                    <div>
                                        <table class="table">    
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Ruche</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                              
                                              <tr *ngFor="let ruche of rucheService.ruches " >
                                                
                                                  <td>
                                                      <a [routerLink]="['/ruche-detail',ruche.id]"  routerLinkActive="active" (click)="clickOnRuche(ruche)"> {{ruche.name}}</a> 
                                                  </td>
                                                   
                                                  <td>{{ruche.description}}</td>
                                                  <td>
                                                    <button data-toggle="tooltip" data-html="true" title="Modifier ruche" data-toggle="modal" type="button" (click)="onSelectRuche(ruche)"
                                                            data-target="#editRucheModal" class="btn btn-primary  btn-lg " style="padding: 0;border: none; background: none;">
                                                            <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-lg "  title="Supprimer ruche" style="padding: 0;border: none; background: none;" (click)="deleteRuche(ruche)">
                                                            <i class="fa fa-times"></i>
                                                    </button>
                                                  </td>
                                              </tr>
                                            </tbody>
                                        </table>      
                                    </div>
              
                                    
                                  </div>
                              </div>
                          </div>
  
                          
                     
                      </div>
                    
                  </div>
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" href="#collapseTwo"><b>2. Observations rucher</b></a>
                          </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse in">
                          <div class="panel-body">
  
                              <b class="text-success"></b>
                                      
                                      
                              <button data-toggle="tooltip" data-html="true" title="Nouvelle Observation" data-toggle="modal" style="margin-left: 98%; padding: 0;border: none; background: none;"
                                      data-target="#newObservationModal"  class="btn btn-success btn-lg" >
                                  <i class="fa fa-plus"></i>
                              </button>
  
                              <table class="table">    
                                  <thead class="thead-dark">
                                  <tr>
                                          <th scope="col">Date</th>
                                          <th scope="col">Sentence</th>
                                          <th scope="col">Actions</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    
                                    <tr *ngFor="let ap of rucherService.observationService.observationsApiary" >
                                      <td>
                                          {{ap.date}}
                                      </td>
                                         
                                      <td>
                                          {{ap.sentence}}
                                      </td>
                                      <td>
                                        <button data-toggle="tooltip" data-html="true" title="Modifier observation" data-toggle="modal" type="button" data-target="#editObservationModal" (click)="onSelectObs(ap)"
                                        class="btn btn-primary  btn-lg " style="padding: 0;border: none; background: none;">
                                          <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-lg"  title="Supprimer observation"  style="padding: 0;border: none; background: none;" (click)="deleteObs(ap)" >
                                                <i class="fa fa-times"></i>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                          </table>      
                          </div>
                      </div>
                  </div>
                
  
                    <br><br>    
                </div>
  
  
      <div class="col-sm-3 sidenav" style="background-color: rgba(236, 234, 234, 0.49); height:1500px;border-color:black;">
        <button data-toggle="tooltip" data-html="true"  data-toggle="modal" type="button" (click)="editRucherClicked()" [disabled]="updateRucherInput" class="btn btn-success  btn-lg " style="padding: 0;border: none; background: none; ">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-warning btn-lg "style="padding: 0;border: none; background: none;  " (click)="deleteRucher()">
          <i class="fa fa-times"></i>
        </button>
        <div *ngIf="!updateRucherInput">
          <h4 class="text-center">{{rucherService.detailsRucher.name}} </h4>
          <h5 class="text-center"><b> </b>{{rucherService.detailsRucher.ville}}</h5>
          <h5 class="text-center"><b> </b>{{rucherService.detailsRucher.codePostal}}</h5>
          <p class="text-center"><b> </b>{{rucherService.detailsRucher.description}}</p>
        </div>
          <div *ngIf="updateRucherInput">
              <form [formGroup]="rucherForm" (ngSubmit)="onEditerRucher() ">
                <h4 class="text-center">Editer Rucher</h4>
                <div class="form-group row"  >
                   <div class="col-md-12">
                    <label for="recipient-name" class="col-form-label">Nom : </label>
                    <input formControlName="nom" type="text" class="form-control text-left" id="recipient-name" >
                  </div>  
                  <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="rucherForm.controls['nom'].invalid">Veuillez saisir un nom</div>
                  </div>
                </div>
                <div class="form-group row"  >
                    <div class="col-md-12">
                      <label for="recipient-name" class="col-form-label">Ville :  </label>
                      <input formControlName="ville" type="text" class="form-control text-left" id="recipient-name">
                    </div>
                    <div class="col-md-12">
                      <div class="alert alert-danger" *ngIf="rucherForm.controls['ville'].invalid ">Veuillez saisir une ville</div>
                    </div>
                </div>
                <div class="form-group row"  >
                  <div class="col-md-12">
                    <label for="recipient-name" class="col-form-label">Code Postal :  </label>
                    <input formControlName="codePostal" type="text" class="form-control text-left" id="recipient-name">
                  </div>
                  <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="rucherForm.controls['codePostal'].invalid ">Veuillez saisir un Code Postal</div>
                  </div>
                  
              </div>
              
                <div class="form-group row"  >
                    <div class="col-md-6">
                      <label for="recipient-name" class="col-form-label">Description : </label>
                    </div>
                    <div class="col-md-12">
                      <textarea formControlName="description"  type="text" class="form-control text-left" id="recipient-name"></textarea>
                      <div class="alert alert-danger" *ngIf="rucherForm.controls['description'].invalid ">Veuillez saisir une description</div>
                     
                    </div>
                </div>
                <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="onEditerRucher()" [disabled]="rucherForm.invalid">Sauvegarder</button>
                <button type="reset" class="btn btn-danger" (click)="cancelUpdateRucher()">Annuler</button>
              </form>
          </div>
        <!--End of editing Rucher  DIV-->
      </div>
    </div>
  </div>
  </div>
  
  <!-- MODALS ARE DECLARE HERE !!! -->
  
  <!-- New rucher Modal -->
  <div class="modal fade" id="newRucherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h4 class="text-center" >Nouveau Rucher</h4></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="rucherForm">
            <div class="form-group"  >
              <label for="recipient-name" class="col-form-label">Nom :</label>
              <input [(ngModel)]="nom" formControlName="nom" type="text" class="form-control" id="recipient-name">
              <div class="alert alert-danger" *ngIf="!rucherForm.controls['nom'].valid && rucherForm.controls['nom'].touched">
                Veuillez saisir un nom entre 1 et 20 caractères
              </div>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description :</label>
              <textarea [(ngModel)]="description" formControlName="description" class="form-control" id="message-text"></textarea>
              <div class="alert alert-danger" *ngIf="!rucherForm.controls['description'].valid && rucherForm.controls['description'].touched">
                Veuillez saisir une description entre 1 et 40 caractères
              </div>
            </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Ville :</label>
                <input [(ngModel)]="ville" formControlName="ville" type="text" class="form-control" id="recipient-name">
                  <div class="alert alert-danger" *ngIf="!rucherForm.controls['ville'].valid && rucherForm.controls['ville'].touched">
                    Veuillez saisir le nom de la ville
                  </div>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Code postal :</label>
                  <input [(ngModel)]="codePostal" formControlName="codePostal" type="text" class="form-control" id="recipient-name">
                  <div class="alert alert-danger" *ngIf="!rucherForm.controls['codePostal'].valid && rucherForm.controls['codePostal'].touched">
                    Veuillez saisir le nom de le codePostal
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  data-dismiss="modal" value="Créer Rucher" (click)="createRucher()" [disabled]="!rucherForm.valid">Créer Rucher</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initForm()">Fermer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of new Rucher Modal -->
  
  
  
  <!-- New Ruche Modal -->
  <div class="modal fade" id="newRucheModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Nouvelle ruche</h3> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="newRucheForm" (ngSubmit)="createRuche()">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nom :</label>
              <input formControlName="nomRuche" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description :</label>
              <textarea formControlName="descriptionRuche" class="form-control" id="message-text"></textarea>
            </div>
            <div *ngIf="!selectedRucher">
              <div class="alert alert-danger" >Veuillez selectionner un rucher dans la page précédente !</div>
            </div>
            <div *ngIf="selectedRucher">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="createRuche();" [disabled]="!newRucheForm.valid" > Créer Ruche</button>
              <button type="reset" class="btn btn-secondary" (click)="initForm()" data-dismiss="modal">Fermer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of new Ruche Modal -->
  
  <!-- Edit Ruche Modal -->
  <div class="modal fade" id="editRucheModal" backdrop="false"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Editer ruche</h3> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Rucher :</label>
                  <select  [(ngModel)]="rucherService.rucherSelectUpdate" class="form-control">
                      <option *ngFor="let rucher of rucherService.ruchers" [ngValue]="rucher">{{rucher.name}}</option> 
                  </select>
              </div>
            <form [formGroup]="newRucheForm" (ngSubmit)="onEditeRuche()">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nom :</label>
                <input formControlName="nomRuche" type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Description :</label>
                <textarea  formControlName="descriptionRuche" class="form-control" id="message-text"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!newRucheForm.valid">Editer Ruche</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initForm()">Fermer</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>>
  </div>
  <!-- End of edit Rucher Modal -->
  
  
  
  <!-- New Observation Modal -->
  <div class="modal fade" id="newObservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Nouvelle Observation</h3> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="observationForm" (ngSubmit)="createObservation()">
            <div class="form-group">
              <input type="date" formControlName="date"><br/>
              <label for="recipient-obs" class="col-form-label">Observations :</label>
              <textarea formControlName="sentence" type="text" class="form-control" id="recipient-obs"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!observationForm.valid" > Créer Observation</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initForm()">Fermer</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of new Observation Modal -->
  
  
  <!-- Edit Observation Modal -->
  <div class="modal fade" id="editObservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Editer Observation</h3> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="observationForm" (ngSubmit)="onEditObservation()">
            <div class="form-group">
              <label for="recipient-editobs" class="col-form-label">Observations :</label>
              <textarea formControlName="sentence" type="text" class="form-control" id="recipient-editobs"></textarea>
            </div> 
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onEditObservation()" [disabled]="!observationForm.valid" > Modifier Observation</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initForm()">Fermer</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of edit Observation Modal -->
  
  <script>
  $('#editRucheModal').modal({
   keyboard: false,
   backdrop : static
  })
  </script>