<div class="container-fluid" style="background-color:white;">
    <div class="form-inline" >
        <div class="form-group">
                <h4>Hive # : {{ rucheName }} </h4>
        </div>
      </div>
  <div class="row content" id="content">
      <div echarts [options]="grapheMielService.option" [merge]="dailyStockHoneyService.mergeOption" [autoResize]="true" style="width:100%;height:30vh;"></div>
      <div echarts [options]="calendrierPoids.option" [autoResize]="true" [merge]="dailyRecWService.mergeOption" id="calendrierPoids"></div>  
    </div>
</div>