ul li a{
    margin: 0px;
    padding-top: 18px;
}
#selectRucher{
    margin-top: 5px;
}
button{
    margin: 0px !important;
}
.navbar-nav a{
    padding-top: 16px !important;
}
.valid-drag{
    border:3px dashed blue;
}
#upload-group{
    display: flex;
}
#upload-group div{
    width: 50%;
    min-height: 20px;
}
label{
    margin-right: 6px;
}
.crud{
    /* haut | droit | bas | gauche */
    padding-top: 0px;
    padding-bottom: 0px;
}
#select-Apiary{
    display: inline-block;
}

@media screen and (max-width:755px){
    #select-Apiary{
        width: auto;
        font-size: 10px;
    }
}
@media screen and (max-width:400px){
    .btn-lg{
        font-size: 7px;
        padding: 2px;
    }
    .btn-primary{
        font-size: 8px;
    }
}
