
<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/position-Ruche">
            <i  > <img [src]="url_sideImg" style="width:30px;height: 30px;"/> </i>
            <p>MelliSphera !</p>
        </a>
    </div>
    <ul class="nav responsive-nav">
        <!--
        <li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        -->
        <li class="dropdown" *ngIf="isMobileMenu()">
             
            <!--
            <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>
                    <b class="caret hidden-sm hidden-xs"></b>
                    <span class="notification hidden-sm hidden-xs">5</span>
					<p class="hidden-lg hidden-md">
						5 Notifications
						<b class="caret"></b>
					</p>
              </a>
            
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
        
        </li>
        <!--
        <li *ngIf="isMobileMenu()">
           <a>
                <i class="fa fa-search"></i>
				<p class="hidden-lg hidden-md">Search</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
           <a href="">
               <p>Account</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
              <a class="dropdown-toggle" data-toggle="dropdown">
                    <p>
    					Dropdown
    					<b class="caret"></b>
    				</p>

              </a>
            
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            
        </li>
    -->
        <li *ngIf="isMobileMenu()">
            <a>
                <p>Log out </p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <!--
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        -->
        <!--
        <li>
                <a routerLink="/accueil">
                    <i></i>
                    <p>Accueil</p>
                </a>
        </li>
        -->
        <li>
            <a routerLink="/position-Ruche">
                <i  > <img src="./assets/img/bee-icon.svg" style="width:30px;height: 30px;"/> </i>
                <p>Apiary</p>
            </a>
        </li>
        <li>
            <a routerLink="/ruche-et-rucher">
                <i > <img src="./assets/img/apiary-icon.png" style="width:45px;height: 45px; margin-left: -7px; margin-top:-10px;"/> </i>
                <p>Hives</p>
            </a>
        </li>      
        <li>
                <a routerLink="/rapport">
                    <i  > <img src="./assets/img/report-icon.png" style="width:30px;height: 30px; margin-top:-6px;"/> </i>
                    <p>Report</p>
                </a>
        </li>
        <li>
            <a routerLink="/fleurs-floraison">
                <i  > <img src="./assets/img/flower-icon.png" style="width:30px;height: 30px;"/> </i>
                <p>Flowers</p>
            </a>
        </li>
        <li>
            <a routerLink="/meteo">
                <i  ><img src="./assets/img/weather-icon.png" style="width:30px;height: 30px; margin-top:-8px; "/> </i>
                <p>Weather </p>
            </a>
        </li>
        <li>
            <a routerLink="/capteurs">
                <i ><img src="./assets/img/sensor-icon.png" style="width:30px;height: 30px; margin-top:-6px;"/></i>
                <p>Sensors</p>
            </a>
        </li>
        <!--
        <li>
                <a routerLink="/login">
                    <i></i>
                    <p>Ruches</p>
                </a>
        </li>
        <li>
                <a>
                    <i></i>
                    <p>Méteo</p>
                </a>
        </li>
        <li>
                <a>
                    <i></i>
                    <p>Temps-Réel</p>
                </a>
        </li>
        -->
    </ul>
</div>
