<div class="inspect-container">
  <nav class="navbar navbar-default" role="admin-navigation">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav buttonLeft">
      <li>
        <button type="button" id="inspect-new-btn" (click)="setButtonActive('inspect-new-btn')"
          class="button button0" data-toggle="tooltip" data-placement="top" title="Nouvelle"
          routerLink="./new">
          {{'INSPECT.NAV.NEW' | translate }}</button>
      </li>
      <li>
        <button type="button" id="inspect-history-btn" (click)="setButtonActive('inspect-history-btn')"
          class="button button0" data-toggle="tooltip" data-placement="top" title="Historique"
          routerLink="./history">
          {{'INSPECT.NAV.HISTORY' | translate }}</button>
      </li>
      <li>
        <button type="button" id="inspect-params-btn" (click)="setButtonActive('inspect-params-btn')"
          class="button button0" data-toggle="tooltip" data-placement="top" title="Parametres"
          routerLink="./params">
          {{'INSPECT.NAV.PARAMS' | translate }}</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
