<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <router-outlet></router-outlet>
        <div class="container-fluid" style="background-color: white;">
            <div class="content">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#map">Sign-up</a></li>
                    <li><a data-toggle="tab" href="#test">unknown</a></li>
                </ul>
                <div class="tab-content">
                    <div id="map" class="tab-pane fade in active">
                        <div echarts [options]="connectionMap.option" style="width:95vw; height:40vh;"></div>
                    </div>
                    <div id="test" class="tab-pane fade">
                        <p>unknown</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>