<div id="inspect-params-content">
  <table class="table table-striped">
    <thead style="display: none;">
      <tr>
        <th scope="col" class="text-left cols_icon"></th>
        <th scope="col" class="text-left cols_name"></th>
        <th scope="col" class="text-left cols_type"></th>
        <th scope="col" class="text-left cols_applies"></th>
        <th scope="col" class="text-left cols_seasons"></th>
        <th scope="col" class="text-left cols_on_off" ></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let insp of inspCat">
        <tr>
          <td>
            <img width="50px" height="50px" [src]="'./assets/ms-pics/' + insp.img.toLowerCase() + '_b.svg'">
          </td>
          <td style='vertical-align: middle;'>{{'INSP_CONF.' + insp.name.toUpperCase() | translate}}</td>
          <td style='vertical-align: middle;'>
            <ng-container *ngIf="insp.type === 'act'">
                <div [class]="'div-act'"></div>
            </ng-container>
            <ng-container *ngIf="insp.type === 'obs'">
              <div [class]="'div-obs'"></div>
            </ng-container>
          </td>
          <td style='vertical-align: middle;'>
            <ng-container *ngFor="let apply of insp.applies">
              <img width="40" height="40" [src]="'./assets/ms-pics/' + apply + '_b.svg'">
            </ng-container>
          </td>
          <td style='vertical-align: middle;'>
            <ng-container>
              <button [class]="'btn btn-default btn-spring ' + (isSeasonActive(insp, 'spring') ? 'active' : '')" (click)="seasonClick($event, insp)"></button>
              <button [class]="'btn btn-default btn-summer ' + (isSeasonActive(insp, 'summer') ? 'active' : '')" (click)="seasonClick($event, insp)"></button>
              <button [class]="'btn btn-default btn-autumn ' + (isSeasonActive(insp, 'autumn') ? 'active' : '')" (click)="seasonClick($event, insp)"></button>
              <button [class]="'btn btn-default btn-winter ' + (isSeasonActive(insp, 'winter') ? 'active' : '')" (click)="seasonClick($event, insp)"></button>
            </ng-container> 
          </td>
          <td style='vertical-align: middle;'>
            <div class="btn-group" id="status" data-toggle="buttons">
              <label [class]="'btn btn-default btn-on active'">
                <input type="radio" value="1"
                  name="multifeatured_module[module_id][status]">ON
              </label>
              <label [class]="'btn btn-default btn-off'">
                <input type="radio" value="0"
                  name="multifeatured_module[module_id][status]">OFF
              </label>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
