<div class="inspect-history-container">
  <h3>{{'INSPECT.HISTORY.TITLE' | translate}}</h3>
  <div style="overflow-x: auto;">
    <table class="inspect-history-table">
      <thead>
        <tr>
          <th class="apiary-sort" style="padding: 5px;" (click)="changeSortApiary()">{{'INSPECT.HISTORY.TABLE.APIARY' | translate}}</th>
          <th class="date-sort" style="padding: 5px;" (click)="changeSortDate()">{{'INSPECT.HISTORY.TABLE.DATE' | translate}}</th>
          <th style="padding: 5px;">{{'INSPECT.HISTORY.TABLE.HEALTH' | translate}}</th>
          <th style="padding: 5px;text-align: left;">{{'INSPECT.HISTORY.TABLE.DESC' | translate}}</th>
          <th style="padding: 5px;text-align: left;">{{'INSPECT.HISTORY.TABLE.TODO' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inspInfoTab;">
          <td style="padding: 5px;">{{ item.apiary }}</td>
          <td style="padding: 5px;">{{ unitService.getHourlyDate(item.date) }}</td>
          <td [class]="item.health" style="padding: 5px;"></td>
          <td style="padding: 5px; min-width: 200px; text-align: left;">{{ item.notes }}</td>
          <td style="padding: 5px; min-width: 200px; text-align: left;">{{ item.todo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
