.infoToolip{
    position: fixed;
    right: 30px;
    bottom: 10px;
}
.btn-tooltip{
    color: #4f4f51;
    opacity: 1;
}
.btn-tooltip:hover{
    color: rgb(0, 179, 0);
    opacity: 1;
}

.inspect-history-container{
    padding-left: 25px;
}

.inspect-history-container h3{
    padding-bottom: 10px;
}

.generallow{
    background: url('../../../../assets/ms-pics/inspects/hcc/generallow_cb.svg') center no-repeat;
    background-size: 20px;
}

.generalnormal{
    background: url('../../../../assets/ms-pics/inspects/hcc/generalnormal_cb.svg') center no-repeat;
    background-size: 20px;
}

.generalgood{
    background: url('../../../../assets/ms-pics/inspects/hcc/generalgood_cb.svg') center no-repeat;
    background-size: 20px;
}

.inspect-history-table{
    border-collapse: collapse;
}

.inspect-history-table th{
    width: 100px;
    text-align: center;
}

.inspect-history-table tr{
    border-bottom: 1px solid rgb(221, 221, 221);
}

.inspect-history-table td{
    text-align: center;
}

.apiary-sort:hover, .date-sort:hover{
    background-color: #ddd;
    cursor: pointer;
}
