.inspect-history-container{
    padding-left: 25px;
}

.inspect-history-container h3{
    padding-bottom: 10px;
}

.generallow{
    background: url('../../../../assets/ms-pics/inspects/hcc/generallow_cb.svg') center no-repeat;
    background-size: 20px;
}

.generalnormal{
    background: url('../../../../assets/ms-pics/inspects/hcc/generalnormal_cb.svg') center no-repeat;
    background-size: 20px;
}

.generalgood{
    background: url('../../../../assets/ms-pics/inspects/hcc/generalgood_cb.svg') center no-repeat;
    background-size: 20px;
}

.inspect-history-table th{
    width: 100px;
    text-align: center;
}

.inspect-history-table td{
    text-align: center;
}