<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <div class="content">

            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">

                    <!--                     <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Hive</h3>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div> -->
                    <div id="main-menu" class="list-group">
                        <ng-container *ngFor="let rucher of rucherService.ruchers; let i = index;">
                            <a [href]="getId(i)" class="list-group-item" data-toggle="collapse"
                                data-parent="#main-menu"><span class="puce-apiary"></span>{{ rucher.name }}<span class="caret"></span></a>
                             <div class="collapse list-group-level1" [id]="i">
                                <a class="list-group-item" *ngFor="let ruche of getHiveByApiary(rucher.id); let i = index" (click)="selectHive(ruche, $event)"  data-parent="#sub-menu"><span class="puce-hive"></span>{{ ruche.name }}</a>
                            </div> 
                        </ng-container>


<!--                         <a href="#" class="list-group-item">Item 2</a>
                        <a href="#" class="list-group-item">Item 3</a>
                        <a href="#" class="list-group-item">Item 4</a>
                        <a href="#" class="list-group-item">Item 5</a> -->
                    </div>
                </div>
                <div id="col-graph" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div id="stackGraph" echarts [options]="stackApiaryGraph.options" (chartInit)="onChartInit($event)"
                        [merge]="recordService.mergeOptionStackApiary" [autoResize]="true"></div>
                </div>
                <!-- <div id="stackGraph"></div> -->

            </div>
        </div>


    </div>
</div>

<!-- <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Hive</h3>
        </div>
        <div class="panel-body">
            
            <ul id="hive-list">
                <li *ngFor="let hive of rucherService.rucheService.ruchesAllApiary" (click)="selectHive(hive, $event)">
                    {{hive.name}}</li>
            </ul>
        </div>
    </div> -->