.list-group-item:hover{
    cursor: pointer;
    background-color: aqua;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    background-image: url('../../../assets/img/apiary-icon.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size:25px;
    padding: 5px;
    padding-left: 30px;
}
.puce-hive{
    background-image: url('../../../assets/img/apiary-icon.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size:25px;
    width: 25px;
    height: 23px;
    margin-bottom: -4px;
}
.puce-apiary{
    background-image: url('../../../assets//wizard//apiary.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size:25px;
    width: 25px;
    height: 23px;
    vertical-align: text-top;
    margin-right: 5px;
}
.sub-items{
    padding-left: 17%;
}
.apiary{
    font-weight: bold;
}
.active{
    background-color: #53B74F;
    color: white;
}
.col-xs{
    margin: auto !important;
}
.row{
    height: 50vh !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#stackGraph{
    height: 95vh;
}
.panel-body{
    padding: 2px !important;
}
@media  (max-width:767px){
    #col-graph{
        width: 100% !important;
    }
}
.sub-items{
    transition: all 0.5s linear;
}
.sub-items:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 3;
}