#dayValue{
    display: inline-block !important;
    width: 60px !important;
}
.row{
    padding-top: 5px;
    margin: 0px;
}
#switch{
    text-align: right;
}
input[type='email'] {
    width: 250px;
}
#formEmail{
    position: relative;
}
.col {
    position: relative;
}
#action{
    position: absolute;
    top: 0px;
    left: 280px;
}
.radioItem{
    margin-bottom: 5px;
}
#sendMailBtn{
    width: 100%;
    margin-top: 14px;
}
.infoToolip{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#infoAlert{
    color: red;
}
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}

@media (max-width:450px) {
    input[type='email'] {
        width: 100%;
    }
    #action{
        position: initial;
    }
}