<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="./home">
            <img [src]="url_sideImg" style="width:30px;height: 30px;" />
        </a>
    </div>
    <ul class="nav responsive-nav">
<!--         <li class="dropdown" *ngIf="isMobileMenu()">
            fdff
        </li> -->

        <li *ngIf="isMobileMenu()">
            <a href="#">
                <img (click)="logout();" src="./assets/img/logout.png" style="width:30px;height: 30px;" />
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li>
            <a routerLink="./home" data-toggle="tooltip" data-placement="top" title="Apiary">
                <img src="./assets/wizard/apiary.png" style="width:40px;"/>
            </a>
        </li>
        <li>
            <a routerLink="./ruche-et-rucher" data-toggle="tooltip" data-placement="top" title="Hives">
                <img src="./assets/img/apiary-icon.png"
                    style="width:45px;height: 45px; margin-left: -7px; margin-top:-10px;" />
            </a>
        </li>
        <li>
            <a routerLink="./apiary-notes" data-toggle="tooltip" data-placement="top" title="Apiary notes">
                <img src="./assets/img/report-icon.png" style="width:30px;height: 30px; margin-top:-6px;" />
            </a>
        </li>
        <!--         <li>
            <a routerLink="/rapport" data-toggle="tooltip" data-placement="top" title="Report">
                <img src="./assets/img/report-icon.png" style="width:30px;height: 30px; margin-top:-6px;"/>
            </a>
        </li> -->
        <li>
            <a routerLink="./fleurs-floraison" data-toggle="tooltip" data-placement="top" title="Flower">
                <img src="./assets/img/flower-icon.png" style="width:30px;height: 30px;" />
            </a>
        </li>
        <!--         <li>
            <a routerLink="/meteo" data-toggle="tooltip" data-placement="top" title="Weather">
                <img src="./assets/img/weather-icon.png" style="width:30px;height: 30px; margin-top:-8px; "/>
            </a>
        </li> -->
        <li>
            <a routerLink="./capteurs" data-toggle="tooltip" data-placement="top" title="Sensors">
                <img src="./assets/img/sensor-icon.png" style="width:30px;height: 30px; margin-top:-6px;" />
            </a>
        </li>
        <li *ngIf="tokenService.checkAuthorities('ROLE_ADMIN')">
            <a routerLink="./admin" data-toggle="tooltip" data-placement="top" title="admin">
                <img src="./assets/img/admin.png" style="width:30px;height: 30px; margin-top:-6px;" />
            </a>
        </li>
        <li *ngIf="this.userService.getUser() == '***REMOVED***'">
            <a routerLink="./***REMOVED***" data-tog  gle="tooltip" data-placement="top" title="FSTL">
                FSTL
            </a>
        </li>
         <li>
            <a routerLink="./stack-apiary" data-toggle="tooltip" data-placement="top" title="Stack data">
                <img src="./assets/img/stack.png" style="width:30px;height: 30px; margin-top:-6px;" />
            </a>
        </li>
    </ul>

   <!--  <button id="hideSideBar" (click)="hideSidebar()" style="background:none; border: none;"><i class="fa fa-arrow-circle-left fa-3x"></i></button> -->
</div>