.inspect-new-container{
  width: 100%;
  padding-left: 10px;
}

.inspect-new-container button:focus{
  outline: 0;
}

.inspect-new-container h3{
  padding-bottom: 10px;
  margin-right: 10px;
}

.title-container{
  display: flex;
  flex-wrap: wrap;
  min-width: 570px;
}

.inspect-body{
  width: 99%;
}

.inspect-time{
  margin-top: 10px;
  width: 96%
}

.inspect-apiary{
  width: 99%;
  border: 1px solid #4f4f51;
  border-radius: 5px;
}

.inspect-hive{
  width: 99%;
  display: flex;
  justify-content: space-around;
  border: 1px solid #4f4f51;
  border-radius: 5px;
}

.inspect-apiary{
  margin-bottom: 10px;
}

.inspect-hive{
  overflow-y: auto;
  overflow-x: hidden;
}

.inspect-apiary-op{
  padding:10px 0 !important;
}

.title > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.title > div:nth-child(2){
  margin-left: 15px;
}

.title > div > div{
  width: 230px;
}

.title > div > div:nth-child(2){
  margin-left: 5px;
}

.title div i{
  position: absolute;
}

#inspect-apiary-select{
  margin-left: 10px;
  width: 215px;
  height: 28px;
}

.inspect-time-input{
  width: 200px;
  height: 28px;
  text-align: center;
}

.inspect-time-icon{
  padding: 7px 15px;
  min-width: 40px;
}

.valid-icon-date{
  min-width: 40px;
  font-size: 24px;
  margin-top: 0px;
  color: green;
  visibility: hidden;
}

.valid-icon-select{
  min-width: 40px;
  font-size: 24px;
  margin-top: 0px;
  color: green;
  visibility: hidden;
}

.apiary-obs-div, .hive-obs-div{
  width: 270px;
  margin: 10px 0px 10px 10px;
  align-content: flex-start;
}

.apiary-obs-div{
  margin-right: 5px;
}

.hive-op, .apiary-op{
  width: 95%;
  display: flex;
  justify-content: flex-start;
}

.apiary-op, .hive-op{
  margin-left: 3%;
}

.apiary-op table, .apiary-obs-div table, .hive-obs-div table{
  border-collapse:separate;
  border-spacing:10px;
}

.apiary-op table tr, .apiary-obs-div table tr, .hive-obs-div table tr{
  margin: 0 5px;
}

.hive-obs-div table input[type="radio"]{
  width: 1.25em;
  height: 1.25em;
}

.apiary-action, .hives-act, .apiary-obs, .hives-obs{
  border-radius: 3px;
  margin: 5px 5px;
  margin-bottom: 10px;
  text-align: center;
  height: 42px;
  width: 42px;
  color: grey;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
}

.apiary-action:hover, .hives-act:hover{
  border: 2px solid #4f4f51;
}

.apiary-obs:hover, .hives-obs:hover{
  border: 2px solid #4f4f51;
}

.obs-flex{
  display: flex;
}

.border-green{
  border: 2px solid #4f4f51;
}

.border-blue{
  border: 2px solid #4f4f51;
}

.apiary-notes-todo, .hive-notes-todo{
  width:70%;
  margin-left:15px;
  min-width:400px;
}

.btn-default_b{
  background-size: 29px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/default_b.svg');
  background-position: center;
}

.btn-default_cb{
  background-size: 29px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/default_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-swarm_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/swarm_b.svg');
  background-position: center;
}

.btn-swarm_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/swarm_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-super\+_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/super+_b.svg');
  background-position: center;
}

.btn-super\+_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/super+_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-super-_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/super-_b.svg');
  background-position: center;
}

.btn-super-_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/super-_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-stolen_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/stolen_b.svg');
  background-position: center;
}

.btn-syrupfeed_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/syrupfeed_b.svg');
  background-position: center;
}

.btn-syrupfeed_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/syrupfeed_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-mitevapor_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitevapor_b.svg');
  background-position: center;
}

.btn-mitevapor_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitevapor_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-queeninsert_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/queeninsert_b.svg');
  background-position: center;
}

.btn-queeninsert_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/queeninsert_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-division_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/division_b.svg');
  background-position: center;
}

.btn-division_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/division_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-broodadd_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/broodadd_b.svg');
  background-position: center;
}

.btn-broodadd_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/broodadd_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-broodremove_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/broodremove_b.svg');
  background-position: center;
  
}

.btn-broodremove_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/broodremove_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-stolen_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/alerts/ruche/stolen_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-lowbrood_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/alerts/ruche/lowbrood_bz.png');
  background-position: center;
}

.btn-lowbrood_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/alerts/ruche/lowbrood_cbz.png');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-normbrood_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/normbrood_b.svg');
  background-position: center;
}

.btn-normbrood_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/normbrood_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-highbrood_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/highbrood_b.svg');
  background-position: center;
}

.btn-highbrood_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/highbrood_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-nobrood_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/nobrood_b.svg');
  background-position: center;
}

.btn-nobrood_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/nobrood_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-nobees_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/nobees_b.svg');
  background-position: center;
}

.btn-nobees_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/nobees_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-lowbees_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/lowbees_b.svg');
  background-position: center;
}

.btn-lowbees_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/lowbees_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-normbees_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/normbees_b.svg');
  background-position: center;
}

.btn-normbees_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/normbees_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-highbees_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/highbees_b.svg');
  background-position: center;
}

.btn-highbees_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/highbees_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-nores_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/nores_b.svg');
  background-position: center;
}

.btn-nores_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/nores_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-lowres_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/lowres_b.svg');
  background-position: center;
}

.btn-lowres_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/lowres_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-normres_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/normres_b.svg');
  background-position: center;
}

.btn-normres_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/normres_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-highres_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/highres_b.svg');
  background-position: center;
}

.btn-highres_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/highres_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-honeydew_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/honeydew_b.svg');
  background-position: center;
}

.btn-honeydew_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/honeydew_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-mitestripadd_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitestripadd_b.svg');
  background-position: center;
}

.btn-mitestripadd_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitestripadd_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-mitestripremove_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitestripremove_b.svg');
  background-position: center;
}

.btn-mitestripremove_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitestripremove_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-mitedribble_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitedribble_b.svg');
  background-position: center;
}

.btn-mitedribble_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitedribble_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-candifeed_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/candifeed_b.svg');
  background-position: center;
}

.btn-candifeed_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/candifeed_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-mitecountlounge_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitecountlounge_b.svg');
  background-position: center;
}

.btn-mitecountlounge_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitecountlounge_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-mitecountwash_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitecountwash_b.svg');
  background-position: center;
}

.btn-mitecountwash_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/mitecountwash_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-markqueen_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/markqueen_b.svg');
  background-position: center;
}

.btn-markqueen_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/markqueen_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-queencellseen_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/queencellseen_b.svg');
  background-position: center;
}

.btn-queencellseen_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/queencellseen_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}

.btn-harvest_b{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/harvest_b.svg');
  background-position: center;
}

.btn-harvest_cb{
  background-size: 37px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/inspects/harvest_cb.svg');
  background-position: center;
  border: 2px solid #4f4f51;
}


.hives-act, .hives-obs
{
  margin: 5px 5px;
  height: 42px;
  width: 42px;
}

.inspect-apiary-notes, .inspect-apiary-todo,
.inspect-hive-notes, .inspect-hive-todo{
  display: flex;
  margin: 10px auto 0px auto;
}

.inspect-apiary-todo{
  margin-bottom: 10px;
}

.inspect-apiary-notes button, .inspect-apiary-notes textarea,
.inspect-apiary-todo button, .inspect-apiary-todo textarea,
.inspect-hive-notes button, .inspect-hive-notes textarea,
.inspect-hive-todo button, .inspect-hive-todo textarea{
  align-items: flex-start;
}

.apiary-notes,
.apiary-todo,
.hive-notes,
.hive-todo{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid #ddd;
  color: black;
  background-color: white;
}

.apiary-notes:hover,
.apiary-todo:hover{
  cursor: pointer;
}

.apiary-notes, .hive-notes{
  margin-bottom: 10px;
}

.apiary-notes-input, .apiary-todo-input,
.hive-notes-input, .hive-todo-input{
  width: 90%;
  resize: none;
}

.apiary-notes-input, .hive-notes-input{
  height: 110px;
}

.apiary-todo-input, .hive-todo-input{
  height: 50px;
}

.hide-textarea{
  visibility: hidden;
  height: 1px;
}

#hives-table{
  width: 100%;
}

#hives-table-head{
  background-color: #ddd;
  width: 100%;
  height: 40px;
  vertical-align: middle;
}

.hives-table-head-hive{
  margin-top: 7px;
  margin-bottom: 0;
  width: 20%;
  font-weight: bold;
  text-align: center;
}

.hives-table-head-action{
  margin-top: 7px;
  margin-bottom: 0;
  width: 60%;
  font-weight: bold;
  text-align: center;
}

#hives-table-body{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 49vh;
}

.hives-item{
  border-top: 1px solid #444;
}

.hives-div-main{
  align-items: center;
}

.hives-div-main > p{
  width: 20%;
  text-align: center;
}

.hives-div-main > div:nth-child(2){
  width: 60%;
}

.hives-div-main > div:nth-child(3), .hives-div-main > div:nth-child(4){
  width: 10%;
}

.hive-notes, .hive-todo{
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.hive-notes{
  font-size: 22px;
}

.hive-todo, .apiary-todo{
  padding: 0;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/ui/assets/todo.png');
  background-position: center;
}

.hives-note-textarea, .hive-todo-textarea{
  resize: none;
  height: 50px;
  width: 80%;
  margin-bottom: 5px;
  display: none;
  overflow-y: hidden;
}

.hives-note-textarea-active{
  height: 50px;
  display: initial;
  animation-name: show-note;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes show-note {
  from {
    height: 10px;
  }
  to {
    height: 50px;
  }
}

.hives-note-textarea-inactive{
  animation-name: hide-note;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes hide-note {
  from {
    height: 50px;
  }
  to {
    height: 10px;
  }
}

.hive-todo-textarea-active{
  height: 50px;
  display: initial;
  animation-name: show-todo;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes show-todo {
  from {
    height: 10px;
  }
  to {
    height: 50px;
  }
}

.hive-todo-textarea-inactive{
  animation-name: hide-todo;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes hide-todo {
  from {
    height: 50px;
  }
  to {
    height: 10px;
  }
}


.inspect-footer{
  width: 98%;
  margin: 10px 0;
}

.btn-cancel{
  float: left;
  width: 114px;
}

.btn-pdf, .btn-save{
  float: right;
  width: 114px;
  margin-left: 20px;
}

.apiary-obs-div table th, .hive-obs-div table th{
  text-align: center;
  width: 35px;
  height: 35px;
}

.hive-obs-div table tr{
  margin-bottom: 5px;
}

.hive-obs-div table tbody tr{
  height: 35px;
  text-align: center;
}

.btn-egg_b{
  background: url('../../../../assets/ms-pics/inspects/egg_b.svg') center no-repeat;
  background-size: 35px;
}

.btn-egg_cb{
  background: url('../../../../assets/ms-pics/inspects/egg_cb.svg') center no-repeat;
  background-size: 35px;
  border: 2px solid #4f4f51;
}

.btn-larva_b{
  background: url('../../../../assets/ms-pics/inspects/larva_b.svg') center no-repeat;
  background-size: 35px;
}

.btn-larva_cb{
  background: url('../../../../assets/ms-pics/inspects/larva_cb.svg') center no-repeat;
  background-size: 35px;
  border: 2px solid #4f4f51;
}

.btn-pupa_b{
  background: url('../../../../assets/ms-pics/inspects/pupa_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-pupa_cb{
  background: url('../../../../assets/ms-pics/inspects/pupa_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-dronebrood_b{
  background: url('../../../../assets/ms-pics/inspects/dronebrood_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-dronebrood_cb{
  background: url('../../../../assets/ms-pics/inspects/dronebrood_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-none_b{
  background: url('../../../../assets/ms-pics/inspects/nobrood_b.svg') center no-repeat;
  background-size: 28px;
}

.btn-none_cb{
  background: url('../../../../assets/ms-pics/inspects/nobrood_cb.svg') center no-repeat;
  background-size: 28px;
  border: 2px solid #4f4f51;
}

.btn-buzzinghive_b{
  background: url('../../../../assets/ms-pics/inspects/buzzinghive_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-buzzinghive_cb{
  background: url('../../../../assets/ms-pics/inspects/buzzinghive_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-sick_b{
  background: url('../../../../assets/ms-pics/inspects/sick_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-sick_cb{
  background: url('../../../../assets/ms-pics/inspects/sick_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-mosaicbrood_b{
  background: url('../../../../assets/ms-pics/inspects/mosaicbrood_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-mosaicbrood_cb{
  background: url('../../../../assets/ms-pics/inspects/mosaicbrood_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-queenseen_b{
  background: url('../../../../assets/ms-pics/inspects/queenseen_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-queenseen_cb{
  background: url('../../../../assets/ms-pics/inspects/queenseen_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-swarm_b{
  background: url('../../../../assets/ms-pics/alerts/ruche/swarm_b.svg') center no-repeat;
  background-size: 37px;
}

.btn-swarm_cb{
  background: url('../../../../assets/ms-pics/alerts/ruche/swarm_cb.svg') center no-repeat;
  background-size: 37px;
  border: 2px solid #4f4f51;
}

.btn-sad, .btn-normal, .btn-happy{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 0;
  background-color: white;
  border-radius: 5px;
}

.btn-sad:hover, .btn-normal:hover, .btn-happy:hover{
  border: 1px solid #ddd;
}

.btn-sad{
  background: url('../../../../assets/ms-pics/inspects/hcc/generallow_b.svg') center no-repeat;
  background-size: 40px;
}

.btn-sad-active{
  background: url('../../../../assets/ms-pics/inspects/hcc/generallow_cb.svg') center no-repeat;
  background-size: 40px;
}

.btn-normal{
  background: url('../../../../assets/ms-pics/inspects/hcc/generalnormal_b.svg') center no-repeat;
  background-size: 40px;
}

.btn-normal-active{
  background: url('../../../../assets/ms-pics/inspects/hcc/generalnormal_cb.svg') center no-repeat;
  background-size: 40px;
}

.btn-happy{
  background: url('../../../../assets/ms-pics/inspects/hcc/generalgood_b.svg') center no-repeat;
  background-size: 40px;
}

.btn-happy-active{
  background: url('../../../../assets/ms-pics/inspects/hcc/generalgood_cb.svg') center no-repeat;
  background-size: 40px;
}

.hive-body-container{
  width: 99%;
  margin-left: 5px;
}

.hive-body-table-notes{
  display: flex; 
  justify-content: space-around; 
  width: 100%; 
}

.hive-op-brood{
  border-right: 5px solid white;
  min-width: 270px; 
  padding-bottom: 10px;
}

.hive-fit-square{
  width: 16px;
  height: 16px;
  border: 1px solid #4f4f51;
  border-radius: 3px;
  margin-right: 10px;
}

@media screen and (max-width: 1300px){
  .apiary-notes-todo, .hive-notes-todo{
    margin-left:15px;
    min-width:320px;
  }
  .apiary-op, .hive-op{
    min-width: 300px;
  }
  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
  .inspect-apiary, .inspect-hive{
    justify-content: unset;
  }
  .hive-body-table-notes{
    justify-content: unset;
  }
}

@media screen and (max-width: 1100px){
  #hives-table-body{
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 44vh;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape){
  #hives-table-body{
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 30vh;
  }
}

@media screen and (max-width: 1000px){
  .inspect-new-container h3{
    padding-bottom: 10px;
    text-align: center;
    margin-left: -5px;
  }
  .inspect-time{
    margin-left: 10px;
    width: 96%;
  }
  .inspect-time div{
    justify-content: center;
  }
  .inspect-apiary{
    border: 1px solid black;
    width: 99%;
  }
  .inspect-apiary-notes, .inspect-apiary-todo,
  .inspect-hive-notes, .inspect-hive-todo{
    display: flex;
    justify-content: center;
  }
  .inspect-apiary-notes button, .inspect-apiary-notes textarea,
  .inspect-hive-notes button, .inspect-hive-todo textarea{
    align-items: flex-start;
  }

  .inspect-body{
    width: 99%;
    display: block;
  }
  .inspect-hive{
    width: 99%;
    margin-top: 20px;
  }

  .inspect-footer{
    width: 97%;
    justify-content: center;
    margin: 30px 0;
  }
  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
}

@media screen and (max-width: 800px){
  .inspect-time-input{
    text-align: center;
  }
  .inspect-apiary{
    width: 99%;
    border: 1px solid black;
  }
  .inspect-body{
    width: 99%;
    display: block;
  }
  .inspect-hive{
    margin-top: 20px;
    width: 99%;
  }

  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
}

@media screen and (max-width: 700px){
  .inspect-apiary, .inspect-hive, .hive-body-container, .hive-body-table-notes{
    flex-wrap: wrap;
  }
  .apiary-notes-todo, .hive-notes-todo{
    width: 90%;
  }
  .apiary-op, .hive-op{
    width: 88%;
    min-width: unset;
  }
}

@media screen and (max-width: 600px){

  .title-container{
    display: flex;
    flex-wrap: wrap;
    min-width: unset;
  }

  .inspect-new-container h3{
    text-align: center;
    margin-left: -5px;
    font-size: 20px;
  }

  .inspect-time-input{
    margin: 0 auto;
    width: 180px;
  }

  .inspect-time > div {
    display: block;
  }

  .inspect-time > div > div {
    margin: 5px auto !important;
  }

  .inspect-time-icon{
    padding: 5px 15px;
    min-width: 40px;
    margin-left: -6px;
  }

  #inspect-apiary-select{
    text-align: center;
    margin-left: -3px;
  }

  .hives-swarm-img{
    background-size: 40px !important
  }

  .hives-swarm-img-active{
    background-size: 40px !important;
  }

  .inspect-new-container button.apiary-action,
  .inspect-new-container button.apiary-obs,
  .inspect-new-container button.hives-act,
  .inspect-new-container button.hives-obs,
  .hive-notes,
  .hive-todo,
  .apiary-notes,
  .apiary-todo{
    width: 35px;
    height: 35px;
    font-size: 10px;
    background-size: 24px;
  }

  .inspect-new-container button.hives-act,
  .inspect-new-container button.hives-obs,
  .inspect-new-container button.apiary-action,
  .inspect-new-container button.apiary-obs{
    margin: 5px 2px;
  }

  .hives-table-head-hive{
    width: 15%;
  }

  .hives-table-head-action{
    width:70%;
  }

  .hives-div-main > p{
    width: 15%;
    text-align: center;
  }

  .hives-div-main > div:nth-child(2){
    width: 70%;
  }

  .hives-div-main > div:nth-child(3), .hives-div-main > div:nth-child(4){
    width: 12%;
  }


  .apiary-op table, .apiary-obs-div table, .hive-obs-div table{
    width: 97%;
    text-align: center;
  }

  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }

  .apiary-notes-input, .apiary-todo-input,
  .hive-notes-input, .hive-todo-input{
    width: 95%;
  }

  #hives-table-body{
    height: 459px;
  }

  #hives-table-body tr td:nth-child(2){
    width:auto;
  }

  #hives-table-body tr td:nth-child(3){
    width:10%;
  }

  #hives-table-body tr td:nth-child(4){
    width:10%;
  }

  .inspect-footer{
    height: 45px;
  }

  .hive-op-brood{
    min-width: 200px;
  }

}



@media screen and (max-width: 500px){

  .title > div > div:nth-child(2){
    margin-left: -5px;
  }

  .title-date > div > div:nth-child(2){
    margin-bottom: 15px;
  }

  .apiary-notes-todo{
    margin-left: 8px;
  }

  .hive-notes-todo{
    margin-left: 5px;
  }

  .inspect-apiary-notes, .inspect-apiary-todo,
  .inspect-hive-notes, .inspect-hive-todo{
    margin-left: 7px;
    justify-content: unset;
  }

  .apiary-notes-input, .apiary-todo-input,
  .hive-notes-input, .hive-todo-input{
    width: 85%;
  }

  .inspect-body{
    width: 98%;
    display: block;
  }

  #hives-table-head{
    font-size: 12px;
  }

  .inspect-footer{
    width: 97%;
  }

  .btn-cancel, .btn-save, .btn-pdf{
    width:40px;
    height: 40px;
    text-indent: 200%;
    overflow: hidden; 
  }

  .btn-cancel{
    background: url('../../../../assets/ms-pics/inspects/hcc/close_w.svg') center no-repeat;
    background-size: 20px;
    background-color: #d9534f;
  }

  .btn-pdf{
    background: url('../../../../assets/ms-pics/inspects/hcc/pdf_b.svg') center no-repeat;
    background-size: 28px;
    background-color: #efefef;
  }

  .btn-save{
    background: url('../../../../assets/ms-pics/inspects/hcc/valid_w.svg') center no-repeat;
    background-size: 20px;
    background-color: #5cb85c;
  }

  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
}
