.inspect-new-container{
  width: 100%;
  padding-left: 10px;
}

.inspect-new-container button:focus{
  outline: 0;
}

.inspect-new-container h3{
  padding-bottom: 10px;
  margin-right: 10px;
}

.title-container{
  display: flex;
  flex-wrap: wrap;
  min-width: 570px;
}

.inspect-body{
  width: 99%;
}

.inspect-time{
  margin-top: 10px;
  width: 96%
}

.inspect-apiary, .inspect-hive{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #4f4f51;
  border-radius: 5px;
}

.inspect-apiary{
  margin-bottom: 10px;
}

.inspect-hive{
  overflow-y: auto;
  overflow-x: hidden;
}

.inspect-apiary-op{
  padding:10px 0 !important;
}

.title > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15px;
}

.title > div > div{
  width: 230px;
}

.title > div > div:nth-child(2){
  margin-left: 5px;
}

.title div i{
  position: absolute;
}

#inspect-apiary-select{
  margin-left: 10px;
  width: 215px;
}

.inspect-time-input{
  width: 200px;
  height: 26px;
  text-align: center;
}

.inspect-time-icon{
  padding: 5px 15px;
  min-width: 40px;
}

.valid-icon-date{
  min-width: 40px;
  font-size: 24px;
  margin-top: 0px;
  color: green;
  visibility: hidden;
}

.valid-icon-select{
  min-width: 40px;
  font-size: 24px;
  margin-top: 0px;
  color: green;
  visibility: hidden;
}

.apiary-obs-div, .hive-obs-div{
  width: 200px;
  margin: 10px 0px 10px 10px;
  align-content: flex-start;
}

.apiary-obs-div{
  margin-right: 5px;
}

.apiary-op, .hive-op{
  width: 35%;
  margin: 10px 0px 10px 10px;
  align-content: flex-start;
}

.apiary-op, .hive-op{
  margin-right: 15px;
}

.apiary-op table, .apiary-obs-div table, .hive-obs-div table{
  border-collapse:separate;
  border-spacing:10px;
}

.apiary-op table tr, .apiary-obs-div table tr, .hive-obs-div table tr{
  margin: 0 5px;
}

.hive-obs-div table input[type="radio"]{
  width: 1.25em;
  height: 1.25em;
}

.apiary-action, .hives-action, .apiary-obs, .hives-obs{
  border-radius: 3px;
  margin: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  height: 35px;
  width: 35px;
  color: grey;
  background-color: white;
}

.apiary-action, .hives-action{
  border: 1px solid #ddd;
}

.apiary-obs, .hives-obs{
  border: 1px solid #ddd;
}

.apiary-action:hover, .hives-action:hover{
  border: 1px solid rgb(0, 180, 0);
}

.apiary-obs:hover, .hives-obs:hover{
  border: 1px solid skyblue;
}

.obs-flex{
  display: flex;
}

.border-green{
  border: 1px solid rgb(0, 180, 0);
}

.border-blue{
  border: 1px solid skyblue;
}

.apiary-notes-todo, .hive-notes-todo{
  width:40%;
  margin-left:15px;
  min-width:400px;
}

.btn-default_b{
  background-size: 29px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/default_b.svg');
  background-position: center;
}

.btn-default_cb{
  background-size: 29px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/default_cb.svg');
  background-position: center;
}

.btn-swarm_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/swarm_b.svg');
  background-position: center;
}

.btn-swarm_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/swarm_cb.svg');
  background-position: center;
}

.btn-super\+_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/super+_b.svg');
  background-position: center;
}

.btn-super\+_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/super+_cb.svg');
  background-position: center;
}

.btn-super-_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/super-_b.svg');
  background-position: center;
}

.btn-super-_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/super-_cb.svg');
  background-position: center;
}

.btn-stolen_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/stolen_b.svg');
  background-position: center;
}

.btn-stolen_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/stolen_cb.svg');
  background-position: center;
}

.btn-lowbrood_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/lowbrood_b.svg');
  background-position: center;
}

.btn-lowbrood_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/lowbrood_cb.svg');
  background-position: center;
}

.btn-normbrood_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/normbrood_b.svg');
  background-position: center;
}

.btn-normbrood_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/normbrood_cb.svg');
  background-position: center;
}

.btn-highbrood_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/highbrood_b.svg');
  background-position: center;
}

.btn-highbrood_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/highbrood_cb.svg');
  background-position: center;
}

.btn-nobrood_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/nobrood_b.svg');
  background-position: center;
}

.btn-nobrood_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/nobrood_cb.svg');
  background-position: center;
}

.btn-nobees_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/nobees_b.svg');
  background-position: center;
}

.btn-nobees_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/nobees_cb.svg');
  background-position: center;
}

.btn-lowbees_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/lowbees_b.svg');
  background-position: center;
}

.btn-lowbees_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/lowbees_cb.svg');
  background-position: center;
}

.btn-normbees_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/normbees_b.svg');
  background-position: center;
}

.btn-normbees_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/normbees_cb.svg');
  background-position: center;
}

.btn-highbees_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/highbees_b.svg');
  background-position: center;
}

.btn-highbees_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/highbees_cb.svg');
  background-position: center;
}

.btn-nores_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/nores_b.svg');
  background-position: center;
}

.btn-nores_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/nores_cb.svg');
  background-position: center;
}

.btn-lowres_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/lowres_b.svg');
  background-position: center;
}

.btn-lowres_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/lowres_cb.svg');
  background-position: center;
}

.btn-normres_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/normres_b.svg');
  background-position: center;
}

.btn-normres_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/normres_cb.svg');
  background-position: center;
}

.btn-highres_b{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/highres_b.svg');
  background-position: center;
}

.btn-highres_cb{
  background-size: 32px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/highres_cb.svg');
  background-position: center;
}












.hives-action, .hives-obs{
  margin: 5px 5px;
  height: 35px;
  width: 35px;
}

.inspect-apiary-notes, .inspect-apiary-todo,
.inspect-hive-notes, .inspect-hive-todo{
  display: flex;
  margin: 10px auto 0px auto;
}

.inspect-apiary-todo{
  margin-bottom: 10px;
}

.inspect-apiary-notes button, .inspect-apiary-notes textarea,
.inspect-apiary-todo button, .inspect-apiary-todo textarea,
.inspect-hive-notes button, .inspect-hive-notes textarea,
.inspect-hive-todo button, .inspect-hive-todo textarea{
  align-items: flex-start;
}

.apiary-notes,
.apiary-todo,
.hive-notes,
.hive-todo{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid #ddd;
  color: black;
  background-color: white;
}

.apiary-notes:hover,
.apiary-todo:hover{
  cursor: pointer;
}

.apiary-notes, .hive-notes{
  margin-bottom: 10px;
}

.apiary-notes-input, .apiary-todo-input,
.hive-notes-input, .hive-todo-input{
  width: 90%;
  resize: none;
}

.apiary-notes-input, .hive-notes-input{
  height: 110px;
}

.apiary-todo-input, .hive-todo-input{
  height: 70px;
}

.hide-textarea{
  visibility: hidden;
  height: 1px;
}

#hives-table{
  width: 100%;
}

#hives-table-head{
  background-color: #ddd;
  width: 100%;
  height: 40px;
  vertical-align: middle;
}

.hives-table-head-hive{
  margin-top: 7px;
  margin-bottom: 0;
  width: 20%;
  font-weight: bold;
  text-align: center;
}

.hives-table-head-action{
  margin-top: 7px;
  margin-bottom: 0;
  width: 60%;
  font-weight: bold;
  text-align: center;
}

#hives-table-body{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}

.hives-item{
  border-top: 1px solid #444;
}

.hives-div-main{
  align-items: center;
}

.hives-div-main > p{
  width: 20%;
  text-align: center;
}

.hives-div-main > div:nth-child(2){
  width: 60%;
}

.hives-div-main > div:nth-child(3), .hives-div-main > div:nth-child(4){
  width: 10%;
}

.hive-notes, .hive-todo{
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.hive-notes{
  font-size: 22px;
}

.hive-todo, .apiary-todo{
  padding: 0;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/ms-pics/todo.png');
  background-position: center;
}

.hives-note-textarea, .hive-todo-textarea{
  resize: none;
  height: 50px;
  width: 80%;
  margin-bottom: 5px;
  display: none;
  overflow-y: hidden;
}

.hives-note-textarea-active{
  height: 50px;
  display: initial;
  animation-name: show-note;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes show-note {
  from {
    height: 10px;
  }
  to {
    height: 50px;
  }
}

.hives-note-textarea-inactive{
  animation-name: hide-note;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes hide-note {
  from {
    height: 50px;
  }
  to {
    height: 10px;
  }
}

.hive-todo-textarea-active{
  height: 50px;
  display: initial;
  animation-name: show-todo;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes show-todo {
  from {
    height: 10px;
  }
  to {
    height: 50px;
  }
}

.hive-todo-textarea-inactive{
  animation-name: hide-todo;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes hide-todo {
  from {
    height: 50px;
  }
  to {
    height: 10px;
  }
}


.inspect-footer{
  display: flex;
  justify-content: flex-end;
  width: 98%;
  margin: 10px auto;
}

.inspect-footer button{
  margin-left: 20px;
  width: 100px;
}

.apiary-obs-div table th, .hive-obs-div table th{
  text-align: center;
  width: 35px;
  height: 35px;
}

.hive-obs-div table tr{
  margin-bottom: 5px;
}

.hive-obs-div table tbody tr{
  height: 35px;
  text-align: center;
}

.brood-egg{
  background: url('../../../../assets/ms-pics/egg_b.svg') center no-repeat;
  background-size: 35px;
}

.brood-egg-active{
  background: url('../../../../assets/ms-pics/egg_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.brood-larva{
  background: url('../../../../assets/ms-pics/larva_b.svg') center no-repeat;
  background-size: 35px;
}

.brood-larva-active{
  background: url('../../../../assets/ms-pics/larva_cb.svg') center no-repeat;
  background-size: 35px;
  border: 1px solid skyblue;
}

.brood-pupa, .brood-drone{
  background: url('../../../../assets/ms-pics/default_b.svg') center no-repeat;
  background-size: 28px;
}

.brood-pupa-active, .brood-drone-active{
  background: url('../../../../assets/ms-pics/default_cb.svg') center no-repeat;
  background-size: 28px;
  border: 1px solid skyblue;
}

.brood-none{
  background: url('../../../../assets/ms-pics/nobrood_b.svg') center no-repeat;
  background-size: 28px;
}

.brood-none-active{
  background: url('../../../../assets/ms-pics/nobrood_cb.svg') center no-repeat;
  background-size: 28px;
  border: 1px solid skyblue;
}

.health-buzz{
  background: url('../../../../assets/ms-pics/default_b.svg') center no-repeat;
  background-size: 32px;
}

.health-buzz-active{
  background: url('../../../../assets/ms-pics/default_cb.svg') center no-repeat;
  background-size: 32px;
  border: 1px solid skyblue;
}

.health-sick, .health-mosaic, .health-queen{
  background: url('../../../../assets/ms-pics/default_b.svg') center no-repeat;
  background-size: 28px;
}

.health-sick-active, .health-mosaic-active, .health-queen-active{
  background: url('../../../../assets/ms-pics/default_cb.svg') center no-repeat;
  background-size: 28px;
  border: 1px solid skyblue;
}

.health-swarm{
  background: url('../../../../assets/ms-pics/swarm_b.svg') center no-repeat;
  background-size: 32px;
}

.health-swarm-active{
  background: url('../../../../assets/ms-pics/swarm_cb.svg') center no-repeat;
  background-size: 32px;
  border: 1px solid skyblue;}

.btn-sad, .btn-normal, .btn-happy{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid #ddd;
  background-color: white;
}

.btn-sad{
  background: url('../../../../assets/ms-pics/generallow_b.svg') center no-repeat;
  background-size: 40px;
}

.btn-sad-active{
  background: url('../../../../assets/ms-pics/generallow_cb.svg') center no-repeat;
  background-size: 40px;
}

.btn-normal{
  background: url('../../../../assets/ms-pics/generalnormal_b.svg') center no-repeat;
  background-size: 40px;
}

.btn-normal-active{
  background: url('../../../../assets/ms-pics/generalnormal_cb.svg') center no-repeat;
  background-size: 40px;
}

.btn-happy{
  background: url('../../../../assets/ms-pics/generalgood_b.svg') center no-repeat;
  background-size: 40px;
}

.btn-happy-active{
  background: url('../../../../assets/ms-pics/generalgood_cb.svg') center no-repeat;
  background-size: 40px;
}

.hive-body-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-left: 5px;
}


@media screen and (max-width: 1300px){
  .apiary-notes-todo, .hive-notes-todo{
    width:70%;
    margin-left:15px;
    min-width:320px;
  }
  .apiary-op, .hive-op{
    width: 50%;
    min-width: 300px;
  }
  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
  .inspect-apiary, .inspect-hive{
    justify-content: unset;
  }
  .hive-body-container{
    justify-content: unset;
  }
}

@media screen and (max-width: 1000px){
  .inspect-new-container h3{
    padding-bottom: 10px;
    text-align: center;
    margin-left: -5px;
  }
  .inspect-time{
    margin-left: 10px;
    width: 96%;
  }
  .inspect-time div{
    justify-content: center;
  }
  .inspect-apiary{
    border-right: 0px;
    width: 99%;
  }
  .inspect-apiary-notes, .inspect-apiary-todo,
  .inspect-hive-notes, .inspect-hive-todo{
    display: flex;
    justify-content: center;
  }
  .inspect-apiary-notes button, .inspect-apiary-notes textarea,
  .inspect-hive-notes button, .inspect-hive-todo textarea{
    align-items: flex-start;
  }

  .inspect-body{
    width: 99%;
    display: block;
  }
  .inspect-hive{
    width: 100%;
    margin-top: 20px;
  }

  .inspect-footer{
    width: 97%;
    justify-content: center;
    margin: 30px 0;
  }
  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
}

@media screen and (max-width: 800px){
  .inspect-time-input{
    text-align: center;
  }
  .inspect-apiary{
    border-right: 0px;
    width: 98%;
  }
  .inspect-body{
    width: 99%;
    display: block;
  }
  .inspect-hive{
    margin-top: 20px;
    width: 100%;
  }

  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
}

@media screen and (max-width: 600px){

  .title-container{
    display: flex;
    flex-wrap: wrap;
    min-width: unset;
  }

  .inspect-new-container h3{
    text-align: center;
    margin-left: -5px;
    font-size: 20px;
  }

  .inspect-time-input{
    margin: 0 auto;
    width: 180px;
  }

  .inspect-time > div {
    display: block;
  }

  .inspect-time > div > div {
    margin: 5px auto !important;
  }

  .inspect-time-icon{
    padding: 5px 15px;
    min-width: 40px;
    margin-left: -6px;
  }

  #inspect-apiary-select{
    text-align: center;
    margin-left: -3px;
  }

  .hives-swarm-img{
    background-size: 40px !important
  }

  .hives-swarm-img-active{
    background-size: 40px !important;
  }

  .inspect-new-container button.apiary-action,
  .inspect-new-container button.apiary-obs,
  .inspect-new-container button.hives-action,
  .inspect-new-container button.hives-obs,
  .hive-notes,
  .hive-todo,
  .apiary-notes,
  .apiary-todo{
    width: 35px;
    height: 35px;
    font-size: 10px;
    background-size: 24px;
  }

  .inspect-new-container button.hives-action,
  .inspect-new-container button.hives-obs{
    margin: 2px 2px;
  }

  .hives-table-head-hive{
    width: 15%;
  }

  .hives-table-head-action{
    width:70%;
  }

  .hives-div-main > p{
    width: 15%;
    text-align: center;
  }

  .hives-div-main > div:nth-child(2){
    width: 70%;
  }

  .hives-div-main > div:nth-child(3), .hives-div-main > div:nth-child(4){
    width: 12%;
  }


  .apiary-op table, .apiary-obs-div table, .hive-obs-div table{
    width: 97%;
    text-align: center;
  }

  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }

  .apiary-notes-input, .apiary-todo-input,
  .hive-notes-input, .hive-todo-input{
    width: 95%;
  }

  #hives-table-body{
    height: 459px;
  }

  #hives-table-body tr td:nth-child(2){
    width:auto;
  }

  #hives-table-body tr td:nth-child(3){
    width:10%;
  }

  #hives-table-body tr td:nth-child(4){
    width:10%;
  }

  .inspect-footer{
    display: flex;
    justify-content: center;
    margin-left: -5px;
  }

}

@media screen and (max-width: 400px){

  .title > div > div:nth-child(2){
    margin-left: -5px;
  }

  .title-date > div > div:nth-child(2){
    margin-bottom: 15px;
  }

  .apiary-notes-todo{
    margin-left: 8px;
  }

  .hive-notes-todo{
    margin-left: 5px;
  }

  .inspect-apiary-notes, .inspect-apiary-todo,
  .inspect-hive-notes, .inspect-hive-todo{
    margin-left: 7px;
    justify-content: unset;
  }

  .apiary-notes-input, .apiary-todo-input,
  .hive-notes-input, .hive-todo-input{
    width: 85%;
  }

  .inspect-body{
    width: 98%;
    display: block;
  }

  #hives-table-head{
    font-size: 12px;
  }

  .inspect-footer{
    display: flex;
    justify-content: center;
    width: 95%;
    margin-left: -5px;
  }

  .apiary-obs-div table th, .hive-obs-div table th{
    text-align: center;
  }
}
