<div class="inspect-new-container">
  <div class="title" style="display:flex;align-items: center;">
    <h3>{{'INSPECT.NEW.TITLE' | translate }}</h3>
    <select id="inspect-apiary-select" (change)="onSelectChange()" style="margin-left: 10px;width:180px; height: 33px;">
      <option disabled selected value style="color:grey;"> {{'INSPECT.NEW.DEFAULT_SELECT' | translate}} </option>
      <option *ngFor="let apiary of user_apiaries" value="{{apiary.name}}"> {{apiary.name}} </option>
    </select>
    <div>
      <i class="fa fa-calendar inspect-time-icon"></i>
      <input class="inspect-time-input" placeholder="{{'INSPECT.NEW.PLACEHOLDER' | translate}}" [(ngModel)]="inspect_date" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" (ngModelChange)="inspectDate()">
      <owl-date-time #dtPicker1></owl-date-time>
    </div>

  </div>

    <div class="inspect-body">
      <div class="inspect-apiary">

          <div class="apiary-op">
            <ng-container *ngFor="let conf of inspConf; let i = index">
              <ng-container *ngIf="conf.enable && conf.inspCat.applies.includes('apiary') && conf.inspCat.type === 'act'">
                <button [class]="'apiary-action btn btn-default btn-' + conf.inspCat.img.toLowerCase() + '_b'"
                (click)="changeActive($event, conf.inspCat, 'apiary', 'act')"></button>
              </ng-container>
            </ng-container>
          </div>
          <div class="apiary-obs-div">
            <ng-container *ngFor="let conf of inspConf; let i = index">
              <ng-container *ngIf="conf.enable && conf.inspCat.applies.includes('apiary') && conf.inspCat.type === 'obs'">
                <button [class]="'apiary-obs btn btn-default btn-' + conf.inspCat.img.toLowerCase() + '_b'"
                (click)="changeActive($event, conf.inspCat, 'apiary', 'obs')"></button>
              </ng-container>
            </ng-container>
          </div>
          <div style="width:49%;">
            <div class="inspect-apiary-notes" style="margin: 10px auto 0px auto">
              <button class="btn apiary-notes"><i class="fas fa-pen"></i></button>
              <textarea placeholder="{{'INSPECT.NEW.NOTE_PLACEHOLDER' | translate}}" (change)="saveApiaryNotes($event)" class="apiary-notes-input" name="Text1" cols="40" rows="5" spellcheck="false"></textarea>
            </div>
            <div class="inspect-apiary-todo" style="margin: 10px auto 0px auto">
              <button class="btn apiary-todo"></button>
              <textarea placeholder="{{'INSPECT.NEW.TODO_PLACEHOLDER' | translate}}" (change)="saveApiaryTodo($event)" class="apiary-todo-input" name="Text2" cols="40" rows="5" spellcheck="false"></textarea>
            </div>
          </div>

      </div>
      <div class="inspect-hive">
        <div id="hives-table">
          <div id="hives-table-head">
            <div style="display: flex; height: 40px; vertical-align: middle;">
              <p class="hives-table-head-hive">{{'INSPECT.NEW.TAB.HIVE' | translate}}</p>
              <p class="hives-table-head-action">{{'INSPECT.NEW.TAB.ACT_OBS' | translate}}</p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div id="hives-table-body" *ngIf="active_apiary_index > 0">
            <ng-container *ngFor="let ruche of user_hives">
              <div style="display: flex; align-items: center;">
                <div style="width:20%; text-align: center;">
                  <p>{{ruche.name}}</p>
                </div>
                <div style="width:60%;">
                  <div style="display:flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;">
                    <ng-container *ngFor="let conf of inspConf; let i = index">
                      <button *ngIf="conf.enable && conf.inspCat.applies.includes('hive') && conf.inspCat.type === 'act'"
                      [class]="'hives-action btn btn-default btn-' + conf.inspCat.img.toLowerCase() + '_b'"
                      (click)="changeActive($event, conf.inspCat)"></button>
                    </ng-container>
                  </div>
                  <div style="display:flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;">
                    <ng-container *ngFor="let conf of inspConf; let i = index">
                      <button *ngIf="conf.enable && conf.inspCat.applies.includes('hive') && conf.inspCat.type === 'obs'"
                      [class]="'hives-obs btn btn-default btn-' + conf.inspCat.img.toLowerCase() + '_b'"
                      (click)="changeActive($event, conf.inspCat)"></button>
                    </ng-container>
                  </div>
                </div>
                <div style="width:10%;">
                  <button class="btn btn-default hives-notes"><i class="fa fa-pen"></i></button>
                </div>
                <div style="width:10%;">
                  <button class="btn btn-default hives-todo"></button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="inspect-footer">
      <button class="btn btn-light">{{'INSPECT.NEW.BTN_PRINT' | translate}}</button>
      <button class="btn btn-success" (click)="saveInspection()">{{'INSPECT.NEW.BTN_SAVE' | translate}}</button>
    </div>
</div>
