<div class="row content">
  <div class="col-sm-12">
    <div class="bs-example">
      <div class="panel-group" id="accordion">
        <div class="panel panel-info ">
          <div class="panel-heading ">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <b>{{ 'HIVE_DETAIL.OBSERVATIONS.AO' | translate}}</b>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div>
                <button data-toggle="tooltip" data-html="true" title="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.NEW' | translate}}" data-backdrop="false"
                  data-toggle="modal" style="margin-left: 98%; padding: 0;border: none; background: none;"
                  data-target="#newObservationModal" class="btn btn-success btn-lg">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- tables ruche -->
              <div>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{ 'HIVE_DETAIL.OBSERVATIONS.DATE' | translate}}</th>
                      <th scope="col">{{ 'HIVE_DETAIL.OBSERVATIONS.SENTENCE' | translate}}</th>
                      <th scope="col">{{ 'HIVE_DETAIL.OBSERVATIONS.TYPES' | translate}}</th>
                      <th scope="col">{{ 'HIVE_DETAIL.OBSERVATIONS.ACTIONS' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let hiveObs of observationService.observationsHive; index as i">
                      <ng-container *ngIf="hiveObs.type =='HiveObs'">
                        <tr>
                          <td>{{ hiveObs.date | myDate }}</td>
                          <td>{{hiveObs.sentence}}</td>
                          <td>{{ 'HIVE_DETAIL.OBSERVATIONS.OBSERVATION' | translate}}</td>
                          <td>
                            <button data-toggle="tooltip" data-html="true" title="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.EDIT' | translate}}" data-toggle="modal"
                              type="button" (click)="onSelectObsR(hiveObs)" data-target="#editObservationModal"
                              data-backdrop="false" class="btn btn-primary  btn-lg "
                              style="padding: 0;border: none; background: none;">
                              <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-lg " title="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.DELETE' | translate}}"
                              style="padding: 0;border: none; background: none;" mwlConfirmationPopover
                              popoverTitle="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.DELETE_ASK' | translate}}" placement="top" 
                              confirmText = "{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CONFIRM' | translate}}" cancelText="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CANCEL' | translate}}"
                              (confirm)="deleteObsR(i,hiveObs)">
                              <i class="fa fa-times"></i>
                            </button>
                          </td>

                        </tr>
                      </ng-container>
                      <ng-container *ngIf="hiveObs.type =='HiveAct'">
                        <tr style="color: blue;">
                          <td>{{hiveObs.date | myDate}}</td>
                          <td>{{hiveObs.sentence}}</td>
                          <td>{{ 'HIVE_DETAIL.OBSERVATIONS.ACTION' | translate}}</td>
                          <td>
                            <button data-toggle="tooltip" data-html="true" title="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.EDIT' | translate}}" data-toggle="modal"
                              type="button" (click)="onSelectObsR(hiveObs)" data-target="#editObservationModal"
                              data-backdrop="false" class="btn btn-primary  btn-lg "
                              style="padding: 0;border: none; background: none;">
                              <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-lg " title="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.DELETE' | translate}}"
                              style="padding: 0;border: none; background: none;" mwlConfirmationPopover
                              popoverTitle="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.DELETE_ASK' | translate}}" placement="top" 
                              confirmText = "{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CONFIRM' | translate}}" cancelText="{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CANCEL' | translate}}"
                              (confirm)="deleteObsR(i,hiveObs)">
                              <i class="fa fa-times"></i>
                            </button>
                          </td>

                        </tr>
                      </ng-container>

                    </ng-container>
                  </tbody>
                </table>
              </div>
              <b class="text-success"></b>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- MODALS ARE DECLARE HERE !!! -->

<!-- New Observation Modal -->
<div class="modal fade" id="newObservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <h3 class="text-center">{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.NEW_NOTES' | translate}}</h3>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" id="popupObs">
        <form [formGroup]="ObservationForm">
          <div class="form-group">
            <!-- <label for="sentence" class="col-form-label">Observations/Actions</label><br /> -->
            <!-- <input type="date" formControlName="date"> -->
            <label class="example-input-wrapper">
              {{ 'HIVE_DETAIL.OBSERVATIONS.FORM.DATE' | translate}}
              <input placeholder="Date Time:" formControlName="date" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
              <owl-date-time #dt></owl-date-time>
            </label><br />
            <label class="example-input-wrapper">
              {{ 'HIVE_DETAIL.OBSERVATIONS.FORM.NOTES' | translate}}
            <input formControlName="sentence" type="text" class="form-control" id="sentence">
          </label>
          </div>




        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="createObservation()" data-dismiss="modal"
          [disabled]="!ObservationForm.valid"> {{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CREATE_OBS' | translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="createAction()" data-dismiss="modal"
          [disabled]="!ObservationForm.valid"> {{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CREATE_ACT' | translate}}</button>
        <button type="button" class="btn btn-secondary" (click)="resetObservationForm()"
          data-dismiss="modal">{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CLOSE' | translate}}</button>

      </div>
    </div>
  </div>
</div>
<!-- End of new Observation Modal -->



<!-- Edit Observation Modal -->
<div class="modal fade" id="editObservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <h3 class="text-center">{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.EDIT' | translate}}</h3>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ObservationForm" (ngSubmit)="onEditObservation()">
          <div class="form-group">
            <label class="col-form-label" for="exampleRadios1">{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.TYPE' | translate}}</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="type" value="HiveObs" [checked]>
              <label class="form-check-label" for="exampleRadios1">{{ 'HIVE_DETAIL.OBSERVATIONS.OBSERVATION' | translate}}</label><br />
              <input class="form-check-input" type="radio" formControlName="type" value="HiveAct">
              <label class="form-check-label" for="exampleRadios1">{{ 'HIVE_DETAIL.OBSERVATIONS.ACTION' | translate}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="example-input-wrapper">
              {{ 'HIVE_DETAIL.OBSERVATIONS.FORM.DATE' | translate}}
              <input placeholder="Date Time:" formControlName="date" [owlDateTimeTrigger]="dtUpdate"
                [owlDateTime]="dtUpdate">
              <owl-date-time #dtUpdate></owl-date-time>
            </label><br />
            <label for="recipient-editobs" class="col-form-label">{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.NOTES' | translate}}</label>
            <textarea formControlName="sentence" type="text" class="form-control" id="recipient-editobs"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onEditObservation()" [disabled]="!ObservationForm.valid">
          {{ 'HIVE_DETAIL.OBSERVATIONS.FORM.EDIT' | translate}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="resetObservationForm()">{{ 'HIVE_DETAIL.OBSERVATIONS.FORM.CLOSE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End of edit Observation Modal -->