#sidebar-tools-hourly{
    position: absolute;
    height: 50vh;
    width: 5% !important;
    top: 50%;
    color: white;
    right: 2px;
    background-color: #333F3D;
}
.item-type:hover {
    cursor:pointer;
}
.active{
    background-color: white;
    color: black;
}
.hourly{
    height: 600px;
    width: 95%;
}