#sidebar-tools-hourly{
    position: absolute;
    height: 30vh;
    width: 5% !important;
    top: 95%;
    color: white;
    right: 2px;
    background-color: #333F3D;
}
.item-type:hover {
    cursor:pointer;
}
.active{
    background-color: white;
    color: black;
}
.hourly{
    height: 600px;
    width: 95%;
}
@media screen and (max-width:1300px) {
    #sidebar-tools-hourly {
        position: relative;
        width: 100% !important;
        height: auto;
    }
    .hourly {
        width: 100%;
    }
    #sidebar-tools-hourly ul {
        display: flex;
    }
}