<div id="hourly" (window:resize)="onResize($event)">
  <div class="chart hourly" id="hourly-chart"></div>
</div>
<div id="sidebar-tools-hourly" class="sidebar-wrapper">
  <ul class="nav responsive-nav" id="device_hourly">
    <li *ngFor="let type of getlabelByType('DEVICE'); let i = index;" (click)="setType(type)" [class]="type.class" [id]="type.id">{{ type.name }}
    </li>
  </ul>
  <hr/>
  <ul class="nav responsive-nav" id="other_hourly">
    <li *ngFor="let type of getlabelByType('OTHER'); let i = index" (click)="setType(type)" [class]="type.class" [id]="type.id">{{ type.name }}

  </ul>
</div>