<aw-wizard id="wizard-id" #wizard [navBarLayout]="'large-empty-symbols'">
    <aw-wizard-step [stepTitle]="'WIZARD.STEP_TITLE' | translate">
        <ng-template awWizardStepSymbol><img src="./assets/logo.png" style="width:2em"></ng-template>
        <div class="centered-content">
            <div>
                <h2>{{'WIZARD.WELCOME' | translate }}</h2>
                <p>{{ 'WIZARD.DESCRIPTION' | translate }}<br/>{{ 'WIZARD.DESCRIPTION_2' | translate }}</p>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awNextStep>{{ 'WIZARD.NEXT' | translate }}</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'WIZARD.APIARY.STEP_TITLE' | translate">
        <ng-template awWizardStepSymbol><img src="./assets/wizard/apiary.png" style="width:2em"></ng-template>
        <div class="centered-content">
            <div>
                <h2>{{ 'WIZARD.APIARY.TITLE' | translate}}</h2>
                <form [formGroup]="apiaryForm">
                    <div class="form-group">
                        <div class="row">
                            <div id="apiary-form" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
                                <input formControlName="name" type="text" placeholder="Apiary name" class="form-control"
                                    id="name">
                                <input formControlName="ville" type="text" placeholder="City" class="form-control"
                                    id="city">
                                <input formControlName="codePostal" type="text" placeholder="Zip code"
                                    class="form-control" id="zipCode">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="btn-group group-btn">
                <button type="button" class="btn btn-secondary" awPreviousStep>{{ 'WIZARD.BACK' | translate }}</button>
                <button type="button" class="btn btn-secondary" [disabled]="apiaryForm.invalid" (click)="subApiary()"
                    awNextStep>{{ 'WIZARD.NEXT' | translate }}</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'WIZARD.HIVE.STEP_TITLE' | translate">
        <ng-template awWizardStepSymbol><img src=" ./assets/img/apiary-icon.png" style="width:2em">
        </ng-template>
        <div class="centered-content">
            <div>
                <h2 class="titre">{{ 'WIZARD.HIVE.TITLE' | translate }}</h2>
                <p>{{ 'WIZARD.DESCRIPTION' | translate }}</p>
                <form [formGroup]="hiveForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
                                <input formControlName="name" type="text" placeholder="Hive name" class="form-control"
                                    id="name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="btn-group group-btn">
                <button type="button" class="btn btn-secondary" awPreviousStep>{{ 'WIZARD.BACK' | translate }}</button>
                <button type="button" class="btn btn-secondary" [disabled]="hiveForm.invalid" (click)="subHive()"
                    awNextStep>{{ 'WIZARD.NEXT' | translate }}</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'WIZARD.SENSOR.STEP_TITLE' | translate">
        <ng-template awWizardStepSymbol><img src="./assets/img/sensor-icon.png" style="width:2em"></ng-template>
        <div class="centered-content">
            <div>
                <h2 class="titre">{{ 'WIZARD.SENSOR.TITLE' | translate }}</h2>
                <form [formGroup]="sensorForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
                                <input formControlName="reference" type="text" placeholder="4x:xx:xx"
                                    class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="btn-group group-btn">
                <button type="button" class="btn btn-secondary" awPreviousStep>{{ 'WIZARD.BACK' | translate }}</button>
                <button type="button" class="btn btn-secondary" [disabled]="sensorForm.invalid" (click)="subSensor()"
                    awNextStep>{{ 'WIZARD.NEXT' | translate }}</button>
            </div>
        </div>
    </aw-wizard-step>
<!--     <aw-wizard-step [stepTitle]="'Flower'">
        <ng-template awWizardStepSymbol><img src="./assets/img/flower-icon.png" style="width:2em">
        </ng-template>
        <div class="centered-content">
            <div>
                <h2>Add some flowers</h2>
                <p>Later you’ll edit and complete this list</p>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <label>Tilia</label>
                            <p><img class="flower-select" (click)="addFlower('Tilia',$event)" src="https://kyle.sig.inra.fr/FLEURS/1150883980tilleul_5.jpg" alt="Tilia" width="200px"></p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <label>Cherry tree	</label>
                            <p><img class="flower-select" (click)="addFlower('Cherry tree', $event)" src="https://kyle.sig.inra.fr/FLEURS/Cerisier4.jpg" alt="Cherry tree" width="200px"></p>
                        </div>
                    </div>
            </div>

            <div class="btn-group group-btn">
                <button type="button" class="btn btn-secondary" awPreviousStep>{{ 'WIZARD.BACK | translate' }}</button>
                <button type="button" class="btn btn-secondary" awNextStep>{{ 'WIZARD.NEXT' | translate }}</button>
            </div>
        </div>-->
    <aw-wizard-completion-step [stepTitle]="'WIZARD.DONE.STEP_TITLE' | translate" awEnableBackLinks>
        <ng-template awWizardStepSymbol><img src="./assets/wizard/finish.png" style="width:2em">
        </ng-template>
        <div class="centered-content">
            <div>
                <h2>{{ 'WIZARD.DONE.TITLE' | translate }}</h2>
                <p>{{ 'WIZARD.DONE.DESCRIPTION' | translate }}</p>
                <ul>
                    <li><i class="fa fa-plus fa-2x"></i>{{ 'WIZARD.DONE.ICONS.ADD' | translate }}</li>
                    <li><i class="fa fa-edit fa-2x"></i>{{ 'WIZARD.DONE.ICONS.EDIT' | translate }}</li>
                    <li><i class="fa fa-times fa-2x"></i>{{ 'WIZARD.DONE.ICONS.DELETE' | translate }}</li>
                </ul>
            </div>

            <div class="btn-group group-btn">
                <button type="button" class="btn btn-secondary" awPreviousStep>{{ 'WIZARD.BACK' | translate }}</button>
                <button type="button" class="btn btn-secondary" (click)="finishWizard()" awResetWizard>{{ 'WIZARD.FINISH' | translate }}</button>
            </div>
        </div>
    </aw-wizard-completion-step>
</aw-wizard>