#wizard-id{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 8px 8px 5px black;
    background-color: #8FACD6;
    padding: 20px;
    width: 50%;
}
.centered-content{
    text-align: center;   
}
.col-centered{
    float: none;
    margin: auto;
}
li{
    list-style: none;
}
li .fa{
    padding-right: 30px;
}
ul{
    padding-left: 30%;
    text-align: left;
}
.group-btn{
    display: flex !important;
    justify-content: space-between !important;
}
.btn{
    color: white !important;
    border-color: white !important;
}
.flower-select{
    cursor: pointer;
    transition: transform .2s;
}
.flower-select:hover{
    transform: scale(2);
    -webkit-transform: scale(2);
    z-index: 2;
}
.flower-active{
    border: 2px solid white;
}
#apiary-form input[type="text"]{
    margin: 5px;
}