#popupObs{
    padding-left: 20px;
}
input[formControlName="checkbox"]{
    padding: 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
input[type=button]{
    border-radius: 30px;
    padding: 3px;
}
.navRuche{
    cursor: pointer;
}
#navPannel ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
#navPannel li{
    padding: 7px;
    font-size: 18px;
    list-style: none;
}
#navPannel li:hover{
    background-color: white;
    color: #23CCEF;
    border-radius: 8px;
}
#navHive li{
    list-style: none;
}
#navHive{
    margin-top: 4px;
}
#navBar{
    background-color:#313837;
    border-radius: 10px;
    height: 6vh;
    margin-bottom: 5px;
}
#navPannel ul{
    height: 100%;
    padding-top: 4px;
}
li:first-child img{
    transform: rotate(180deg);
}
nav{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#hiveName{
    padding: 5px;
    color: white;
    font-size: 15px;
}
nav, ul{
    font-size: 10px;
}
.active{
    //color: #23CCEF;
    background-color: white;
    color: black;
    border-radius: 8px;
}