

<div class="wrapper">
        <div class="sidebar" data-color="red" data-image="">
            <app-sidebar ></app-sidebar>
            <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-5.jpg)"></div>
        </div>
        <div class="main-panel">
            <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
            <!--<router-outlet></router-outlet>-->

<!-- change component content here-->
            <div class="container-fluid" style="background-color:white;">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['./health',rucheId]" routerLinkActive="active" >Santé<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['./stock',rucheId]" routerLinkActive="active" >Réserves</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['./observation',rucheId]" routerLinkActive="active" >Observations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['./daily',rucheId]" routerLinkActive="active" >Jour x jour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['./hourly',rucheId]" routerLinkActive="active">Heure x heure</a>
                        </li>
                    </ul>
                </nav>
            <router-outlet></router-outlet>
            </div>
        </div>
</div>