

<div class="wrapper">
        <div class="sidebar" data-color="red" data-image="">
            <app-sidebar ></app-sidebar>
            <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
        </div>
        <div class="main-panel">
            <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
            <router-outlet></router-outlet>


<!-- change component content here-->                    
<div class="container-fluid" style="background-color:white;">
        <div class="row content">
                <div class="col-sm-9">                        
                      <div class="form-inline" >
                        <div class="form-group">
                                <h4>Ruche : {{ this.rucheName }} </h4>
                          
                        </div>
                      </div>


                      <div class="bs-example">
                          <div class="panel-group" id="accordion">
                                <div class="panel panel-info ">
                                  <div class="panel-heading "  >
                                      <h4 class="panel-title" >
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                             <b>1. Historique des actions et des observations</b>
                                           </a>
                                      </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                     
                                            <button data-toggle="tooltip" data-html="true" title="Nouveau capteur" data-toggle="modal" style="margin-left: 98%; padding: 0;border: none; background: none;"
                                            data-target="#newObservationModal"  class="btn btn-success btn-lg" >
                                                      <i class="fa fa-plus"></i>
                                            </button>
                                                     
                                            <!-- tables ruche -->
                                            <div>
                                                    <table class="table">    
                                                            <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Sentence</th>
                                                                <th scope="col">Type</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngFor="let hive of observationsHive" >
                                                                    <ng-container *ngIf="hive.type =='HiveObs'">
                                                                        <tr >
                                                                            <td>
                                                                               {{hive.date}}
                                                                           </td>
                                                                            
                                                                            <td>
                                                                                {{hive.sentence}}
                                                                            </td>
                                                                            <td>
                                                                                Observation
                                                                            </td>
                                                                            
                                                                        </tr>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="hive.type =='HiveAct'">
                                                                            <tr style="color: blue;">
                                                                                <td>
                                                                                   {{hive.date}}
                                                                               </td>
                                                                                
                                                                                <td>
                                                                                    {{hive.sentence}}
                                                                                </td>
                                                                                <td>
                                                                                    Action
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                        </ng-container>   

                                                                </ng-container>
                                                              
                                                             <!-- <tr *ngFor="let d of actionsApicole.OperationApi" style="color: blue;">
                                                                    
                                                               
                                                                    <td>
                                                                        {{d.ruche}}
                                                                    </td>
                                                                    <td>
                                                                        {{d.date}}
                                                                    </td>
                                                                       
                                                                    <td>
                                                                        {{d.sentence}}
                                                                    </td>
                                                                </tr> -->
                                                            </tbody>
                                                    </table>
                                            </div>
                          



                                          <b class="text-success"></b>
                                          
                                          
                                                                                                       
                                      </div>
                                  </div>
                                </div>
                         
                          </div>
                        
                      </div>




                      
                      <div class="bs-example">
                            <div class="panel-group" id="accordion2">
                                  <div class="panel panel-info ">
                                    <div class="panel-heading "  >
                                        <h4 class="panel-title" >
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo">
                                               <b>2. Données et statistiques </b>
                                             </a>
                                        </h4>
                                    </div>
                                    <div id="collapsetwo" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                                <div id="main" style="width: 300px;height:700px;"></div>  
                                            <b class="text-success"></b>                                                                                             
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <br><br>    
                    </div>

    
          <div class="col-sm-3 sidenav" style="background-color: rgba(236, 234, 234, 0.49); height:1500px;border-color:black;">
              <h4 class="text-center">{{rucheName}}</h4>
              <h5 class="text-center"><b> </b>{{rucheDescription}} </h5>
          </div>
        </div>
      </div>
</div>

<!-- MODALS ARE DECLARE HERE !!! -->

<!-- New Observation Modal -->
<div class="modal fade" id="newObservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Nouvelle Observation</h3> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form  [formGroup]="ObservationForm" (ngSubmit)="createObservation(ObservationForm.value)">

                <div class="form-group ">
                                        
            
                        <label  class="col-form-label" for="exampleRadios1" >
                            Type d'observations :  
                        </label>
                        <div class="form-check">
                            <label class="form-check-label" for="exampleRadios1" >
                                Observations
                            </label>
                            <input class="form-check-input" (change)="selectRadioObs()" type="radio" formControlName="checkbox" name="checkbox"  [checked]="radioObs">
                                
                
                            <label class="form-check-label" for="exampleRadios1">
                               Actions 
                            </label>
                            <input class="form-check-input" (change)="selectRadioAction()" type="radio" formControlName="checkbox" name="checkbox" [checked]="radioAct">
                            
                        </div>
                    </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Observations/Actions :</label>
            <input [(ngModel)]="sentence" formControlName="sentence" type="text" class="form-control" id="recipient-name">
        </div>

       
        
           
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  (click)="createObservation(ObservationForm.value)" [disabled]="!ObservationForm.valid" > Créer Observation</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
       
      </div>
    </div>
    </div>
</div>
    <!-- End of new Observation Modal -->