<aw-wizard id="wizard-id" #wizard [navBarLayout]="'large-empty-symbols'">
    <aw-wizard-step [stepTitle]="'Welcome'">
        <ng-template awWizardStepSymbol><img src="./assets/logo.png" style="width:2em"></ng-template>
        <div class="centered-content">
            <div>
                <h2>Welcome !</h2>
                <p>we want to guide your first steps creating apiary and other hives.<br />
                    Once you’re done you’ll be able to fly with your own wings</p>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Apiary'">
        <!-- <ng-template awWizardStepSymbol><img src="./assets/wizard/apiary.png" style="width:6em"></ng-template> -->
        <div class="centered-content">
            <div>
                <h2>Create your apiary</h2>
                <form [formGroup]="apiaryForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
                                <input formControlName="name" type="text" placeholder="Apiary name" class="form-control" id="name">
                                <input formControlName="ville" type="text" placeholder="City" class="form-control" id="city">
                                <input formControlName="codePostal" type="text" placeholder="Zip code" class="form-control" id="zipCode">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
                <button type="button" class="btn btn-secondary" [disabled]="apiaryForm.invalid" (click)="subApiary()" awNextStep>Continue</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Hive'">
        <ng-template awWizardStepSymbol><img src=" ./assets/img/apiary-icon.png" style="width:2em">
        </ng-template>
        <div class="centered-content">
            <div>
                <h2 class="titre">Create one hive</h2>
                <p>Later you’ll create as much hives as you want</p>
                <form [formGroup]="hiveForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
                                <input formControlName="name" type="text" placeholder="Hive name" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
                <button type="button" class="btn btn-secondary" [disabled]="hiveForm.invalid" (click)="subHive()" awNextStep>Continue</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Sensor'">
        <ng-template awWizardStepSymbol><img src="./assets/img/sensor-icon.png" style="width:2em"></ng-template>
        <div class="centered-content">
            <div>
                <h2 class="titre">Add a Broodminder sensor ID</h2>
                <form [formGroup]="sensorForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
                                <input formControlName="reference" type="text" placeholder="4x:xx:xx" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
                <button type="button" class="btn btn-secondary" [disabled]="sensorForm.invalid" (click)="subSensor()" awNextStep>Continue</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Flower'">
        <ng-template awWizardStepSymbol><img src="./assets/img/flower-icon.png" style="width:2em">
        </ng-template>
        <div class="centered-content">
            <div>
                <h2>Add some flowers</h2>
                <p>Later you’ll edit and complete this list</p>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
                <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
            </div>
        </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'End'">
        <ng-template awWizardStepSymbol><img src="./assets/img/flower-icon.png" style="width:2em">
        </ng-template>
        <div class="centered-content">
            <div>
                <h2>You’re done!</h2>
                <p>Navigating the different pages you’ll find the following symbolst</p>
                <ul>
                    <li><i class="fa fa-plus fa-2x"></i>Add an item (apiary, hive, sensor, flower)</li>
                    <li><i class="fa fa-edit fa-2x"></i>Edit an item</li>
                    <li><i class="fa fa-times fa-2x"></i>Delete an item</li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
                <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
            </div>
        </div>
    </aw-wizard-step>
</aw-wizard>