#wizard-id{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 8px 8px 5px black;
    background-color: #acc87b;
    padding: 20px;
    width: 50%;
}
.centered-content{
    text-align: center;   
}
.col-centered{
    float: none;
    margin: auto;
}
li{
    list-style: none;
}
li .fa{
    padding-right: 30px;
}
ul{
    padding-left: 30%;
    text-align: left;
}