#sidebar-tools{
    position: fixed;
    height: 50vh;
    width: 5% !important;
    right: 2px;
    background-color: lightseagreen;
}
#apiary-group{
    position: fixed;
    height: 93vh;
}
#apiary-group, .list-group-item {
    background-color: #1E8AB6;
    color: white;
}
.dropdown-menu{
    padding: 10px;
    color: white !important;
    display: flex;
    background-color: #333F3D;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.fa-calendar{
    margin-right: 5px !important;
}
nav[role=admin-navigation] {
    color: white;
    background-color: #333F3D;
}
.nav li .btn{
    color: white !important;
}
.active{
    background-color: white;
}
.nopadding{
    padding: 0px !important;
    margin-right: 0px !important;
}
.nav-date{
     margin-right: 10px;
     width: 35%;
}
.nav-date li:first-child{
    width: 100%;
}
 .nav-date .btn-primary {
    width: 100% !important;
}
#arrow{
    font-size: 20px;
}
.time{
    white-space: nowrap;
    list-style: none;
}
.time:hover{
    background-color: lightslategray;
    cursor: pointer;
}
#dt-scale{
    display: flex;
}
