<div class="row content">
    <nav>
        <ul id="hive-list">
            <li *ngFor="let hive of rucherService.rucheService.ruchesAllApiary" class="hive-items"
                (click)="onSelectHive($event, hive)">{{ hive.name }}</li>
        </ul>
    </nav>
    
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-center">
            <label>Start : </label><input [(ngModel)]="melliService.startCalendar" (ngModelChange)="setRangeCalendar()" type="date"/>
            <label>End : </label><input [(ngModel)]="melliService.endCalendar"  (ngModelChange)="setRangeCalendar()" type="date"/>
            <div echarts [options]="templateCalendar.options" [merge]="melliService.getMerge()" [loading]="loading" (chartInit)="onChartInit($event)"></div>

        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <ul id="type-graph">
                <li><i (click)="selectType($event,'tempExt')" class="fa fa-calendar fa-2x"></i></li>
                <li><i (click)="selectType($event, 'hInt')" class="fa fa-thermometer-3 fa-2x"></i></li>
                <li><i class="fa fa-plus-square fa-2x"></i></li>
                <li><i (click)="selectType($event, 'weightIncome')" class="fa fa-balance-scale fa-2x"></i></li>
            </ul>
        </div>
    </div>

</div>