<div class="container-fluid">
  <div class="form-inline" >
  <div class="form-group">
        <form>
          <label><h4>Rucher :</h4> </label>
          <select [(ngModel)]="rucherService.rucher" name="rucher" (change)="onSelectRucher($event)" class="form-control" id="sel1">
            <option *ngFor="let rucher of rucherService.ruchers; let i = index" [ngValue]="rucher"> {{rucher.name}} </option>
          </select>
        </form>
      </div>
    </div>

<div style="text-align:center">
</div>
    <div style="width: 700px; height: 1000px;" id ="main"></div>
  </div>
  <!--echarts [options] ="meteoSelect" -->