#graph{
  height: 700px;
  width: 100%;
  overflow: hidden;
}


.zoom {
  //Taille des photos initiales
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: transform .2s;
}

.zoom:hover {
  //Multiplie par 4 la taille de la photo
  -ms-transform: scale(4); /* IE 9 */
  -webkit-transform: scale(4); /* Safari 3-8 */
  transform: scale(4);
  //Met la photo en 1er plan
  z-index: 2;
}
/* .modal-body{
  padding: 0px;
} */
button{
  margin-right: 8px;
}
/* td,th{
  width: 10%;
  text-align: center;
  padding: 0px;
} */
.endtTD{
  display: flex;
  justify-content: center;
}
#contentFlower{
  height: 60%;
  overflow: auto;
}
#tickmarks{
  display: flex;

}
#tickmarks option{
  text-align: center;
  width: 10%;
}
input[type=range]{
  margin: auto;
  width: 80%;
}
#groupRange{
  text-align: center;
  width: 50%;
}
#periode div{
  display: inline-block;
}
input[name="mois"]{
  border-radius: 20px;
  width: 18%;
  text-align: center;
}
.modal-dialog{
  position: absolute;
  left: 20%;
  /* now you must set a margin left under zero - value is a half width your window */
  /*margin-left: -312px;*/
  /* this same situation is with height - example */
  height: 500px;
  top: 0%;
  width: 70%;
  /*margin-top: -250px;*/
}
.selectStyle{
  display: inline-block;
  width: 50%;
}
input[type="text"]{
  max-width: 100%;
}