<div id="daily-int" (window:resize)="onResize($event)">
  <div id="calendar-device" class="chart calendar"></div>
</div>
<hr/>
<div id="daily-ext">
  <div id="calendar-other" class="chart calendar"></div>
</div>
<div id="sidebar-tools-daily" class="sidebar-wrapper">
  <ul class="nav responsive-nav" id="device-group">
    <li *ngFor="let type of getlabelByType('DEVICE')" (click)="setType(type)" [class]="type.class" [id]="type.id">{{ type.name }}</li>
  </ul>
  <hr/>
  <ul  class="nav responsive-nav" id="other-group">
    <li *ngFor="let type of getlabelByType('OTHER')" (click)="setType(type)" [class]="type.class" [id]="type.id">{{ type.name }}</li>
    <li (click)="exportToCsv()">Export to csv</li>
  </ul>
</div>