.calendar{
    height: 300px;
    width: 95%;
}
#sidebar-tools-daily{
    position: absolute;
    height: 50vh;
    width: 5% !important;
    color: white;
    top: 10%;
    right: 2px;
    background-color: #333F3D;
}
.item-type:hover {
    cursor:pointer;
}
.active{
    background-color: white;
    color: black;
}