<div id="contain-calendar" class="flex" (window:resize)="onResize($event)">
  <div id="daily-int">
    <div id="sidebar-tools-daily-device">
      <ul class="nav responsive-nav flex tools" id="device-group">
        <li *ngFor="let type of getlabelByType('DEVICE')" (click)="setType(type)" [class]="type.class" [id]="type.id">
          <img [src]="type.icons" />
        <li>
        <li (click)="exportToCsv('DEVICE')" class="item-type"><img src="./assets/icons/exportToCsv.png"></li>
      </ul>
    </div>
    <div>
      <p style="text-align: center;">{{ currentTextPeriodCalendar }}{{ dailyManager.meanPeriodDevice.value }}
        {{ dailyManager.meanPeriodDevice.unit }}</p>
      <p style="text-align: center;">{{ dailyManager.meanDeviceSevenDay.value }}
        {{ dailyManager.meanDeviceSevenDay.unit }}</p>
    </div>
    <div id="calendar-device" class="chart calendar"></div>
  </div>
  <div id="daily-other">
    <div id="sidebar-tools-daily-other">
      <ul class="nav responsive-nav flex tools" id="other-group">
        <li *ngFor="let type of getlabelByType('OTHER')" (click)="setType(type)" [class]="type.class" [id]="type.id">
          <img [src]="type.icons" /></li>
        <li (click)="exportToCsv('OTHER')" class="item-type"><img src="./assets/icons/exportToCsv.png">></li>
      </ul>
    </div>
    <div id="calendar-other" class="chart calendar"></div>
  </div>
  <div id="daily-env">
    <div id="sidebar-tools-daily-env">
      <ul class="nav responsive-nav flex tools" id="env-group">
        <li *ngFor="let type of getlabelByType('ENV')" (click)="setType(type)" [class]="type.class" [id]="type.id">
          <img [src]="type.icons" /></li>
        <li (click)="exportToCsv('ENV')" class="item-type"><img src="./assets/icons/exportToCsv.png"></li>
      </ul>
    </div>
    <div id="calendar-env" class="chart calendar"></div>
  </div>
</div>