.calendar{
    height: 300px;
    width: 95%;
}
#sidebar-tools-daily{
    position: absolute;
    height: 30vh;
    width: 5% !important;
    color: white;
    top: 10%;
    right: 2px;
    background-color: #333F3D;
}
.item-type:hover {
    cursor:pointer;
}
.active{
    background-color: white;
    color: black;
}
@media screen and (max-width:1400px) {
    #sidebar-tools-daily {
        position: relative;
        width: 100% !important;
        height: auto;
    }
    .calendar {
        width: 100%;
    }
    #sidebar-tools-daily ul {
        display: flex;
    }
}