<div class="wrapper" (click)="hideCRUD($event)">
  <div class="sidebar">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
  </div>
  <div class="main-panel">
      <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
      <div class="container-fluid" style="background-color: white;">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
<app-feedback></app-feedback>
<!-- <button id="hideSideBar" (click)="navComponent.sidebarToggle()" style="background:none; border: none;"><i class="fa fa-arrow-circle-left fa-3x"></i></button> 
 --><app-wizard *ngIf="login.getConnexion() == 1 && login.getWizardActive()"></app-wizard>