    <div class="wrapper">
      <div class="sidebar" data-color="blue" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
      </div>
      <div class="main-panel">
      <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <!--<router-outlet></router-outlet>-->


        <!-- change component content here-->
        <div class="container-fluid" style="background-color:white;">
          <div class="row content">
            <div class="col-sm-12">
              <div class="bs-example">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-info ">
                    <div class="panel-heading ">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>Hives</b></a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <b class="text-success"></b>
                        <button [disabled]="rucherService.rucher.id == null" data-toggle="tooltip" data-html="true"
                          title="New hive" data-toggle="modal"
                          style="margin-left: 98%; padding: 0;border: none; background: none;" data-target="#newRucheModal"
                          class="btn btn-success btn-lg">
                          <i class="fa fa-plus"></i>
                        </button>

                        <!-- tables ruche -->
                        <div>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Hive</th>
                                <th scope="col">Description</th>
                                <th scope="col" class="text-center">Sensor</th>
                                <th class="text-right" scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let ruche of rucheService.ruches; index as i">
                                  <td class="hive-select" (click)="clickOnRuche(ruche)">{{ruche.name}}
                                      <!-- <a [routerLink]="['/ruche-detail']" routerLinkActive="active"
                                        (click)="clickOnRuche(ruche)"> {{ruche.name}}</a> -->
                                        
                                    </td>
        
                                    <td (click)="clickOnRuche(ruche)" class="hive-select">{{ruche.description}}</td>
                                    <td class="text-center"><i [class]="'fa fa-circle ' + checkSensor(ruche)"></i></td>
                                    <td class="text-right">
                                      <button data-toggle="tooltip" data-html="true" title="Edit hive" data-toggle="modal"
                                        type="button" (click)="onSelectRuche(ruche,index)" data-target="#editRucheModal"
                                        class="btn btn-primary btn-lg " style="padding: 0;border: none; background: none;">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-lg" mwlConfirmationPopover
                                        popoverTitle="Delete Hive ?" placement="top" (confirm)="deleteRuche(ruche,i)"
                                        title="Delete hive" style="padding: 0;border: none; background: none;">
                                        <i class="fa fa-times"></i>
                                      </button>
                                    </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>


                      </div>
                    </div>
                  </div>



                </div>

              </div>

              <br><br>
            </div>

            <!---->

          </div>
        </div>
      </div>


      <!-- New Ruche Modal -->
      <div class="modal fade" id="newRucheModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <h3 class="text-center">New Hive</h3>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="newRucheForm">
                <div class="form-group">
                  <label class="col-form-label">Name</label>
                  <input formControlName="nomRuche" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description</label>
                  <textarea formControlName="descriptionRuche" class="form-control" id="message-text"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="createRuche();"
                    [disabled]="!newRucheForm.valid"> Create hive</button>
                  <button type="reset" class="btn btn-secondary" (click)="initForm()" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End of new Ruche Modal -->

      <!-- Edit Ruche Modal -->
      <div class="modal fade" id="editRucheModal" backdrop="false" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <h3 class="text-center">Edit Hive</h3>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-form-label">Apiary</label>
                <select [(ngModel)]="rucherService.rucherSelectUpdate" class="form-control">
                  <option *ngFor="let rucher of rucherService.ruchers" [ngValue]="rucher">{{rucher.name}}</option>
                </select>
              </div>
              <form [formGroup]="newRucheForm">
                <div class="form-group">
                  <label class="col-form-label">Name</label>
                  <input formControlName="nomRuche" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description</label>
                  <textarea formControlName="descriptionRuche" class="form-control" id="message-text"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="onEditeRuche()"
                    [disabled]="!newRucheForm.valid">Edit hive</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initForm()">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>>
    </div>
    <!-- End of edit Rucher Modal -->
    <app-feedback></app-feedback>


    <script>



      $('#editRucheModal').modal({
        keyboard: false,
        backdrop: static
      })
    </script>