#inspect-api-test:hover path.outline{
    fill: #4f4f51 !important;
    stroke: #4f4f51 !important;
    stroke-width: 1 !important;
}
#inspect-api-test:hover path.st0{
    fill: #e6e6e6 !important;
}
#inspect-api-test:hover path.st1{
    fill: #ff5a5a !important;
    stroke: #4f4f51 !important;
}
#inspect-api-test:hover path.st2{
    fill: #ff5a5a !important;
    stroke: #4f4f51 !important;
}
#inspect-api-test:hover path.st3{
    fill: #e6e6e6 !important;
}

#inspect-test:hover path.outline{
    fill: #4f4f51 !important;
    stroke: #4f4f51 !important;
    stroke-width: 1 !important;
}
#inspect-test:hover path.st0{
    fill: #e6e6e6 !important;
}
#inspect-test:hover path.st1{
    fill: #ff5a5a !important;
    stroke: #4f4f51 !important;
}
#inspect-test:hover path.st2{
    fill: #ff5a5a !important;
    stroke: #4f4f51 !important;
}
#inspect-test:hover path.st3{
    fill: #e6e6e6 !important;
}

#more-icon:hover ellipse.circle1{ stroke: #5cb85c !important; }
#more-icon:hover ellipse.circle2{ stroke: #5cb85c !important; }
#more-icon:hover ellipse.circle3{ stroke: #5cb85c !important; }

#more-icon-white:hover ellipse{ stroke: #5cb85c !important; }
