/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/angular-notifier/styles";

.sidebar,.sidebar-wrapper{
    width: 70px;
}
.sidebar{
    background-color: blue;
}
.main-panel{
    width: calc(100% - 72px);
}
.nav-open .main-panel{
    transform: translate3d(-60px, 0, 0) !important;
}

@media (max-width: 991px){
    .main-panel{
        width: 100%;
    }
}