/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/angular-notifier/styles";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
}
.sidebar,.sidebar-wrapper{
    width: 70px !important;
}
/* .sidebar-wrapper{
    background-color: #59B53D;
} */
.sidebar{
    background-color: blue;
}
.main-panel{
    width: calc(100% - 72px) !important;
}
.nav-open .main-panel{
    transform: translate3d(-60px, 0, 0) !important;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.login{
    background: url('./assets/background/rucher_login.jpg') no-repeat center;
    background-size: cover;
}
.wizard-active{
     background-color: rgba($color: #000000, $alpha: 0.4);
    // filter: blur(10px);
}
.wizard-z-index{
    z-index: -1 !important;
}
@media (max-width: 991px){
    .main-panel{
        width: 100% !important;
    }
}
notifier-container ul{
    margin-bottom: 0px;
}
.current .label{
    color: white !important;
}
.default .label{
    color: black !important;
}
.done .label{
    color:greenyellow !important;
}
.step-indicator{
    background-color: white !important;
}
.editing .label{
    color: white !important;
}
aw-wizard-navigation-bar{
    margin-bottom: 40px !important;
}
.btn-group{
    margin-top: 50px !important;
}
.modal-backdrop {
    display: none;
}
.modal {
    background: rgba(0,0,0,0.5);
}
.backdrop{
    width: 100%;
}