/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.sidebar,.sidebar-wrapper{
    width: 70px;
}
.sidebar{
    background-color: blue;
}
.main-panel{
    width: calc(100% - 92px);
}
navbar-cmp{
    position: fixed;
    top: 0px;
    left: 92px;
    z-index: 1000;
    width: calc(100% - 92px);
}
.content{
    margin-top: 55px;
}





@media screen and (max-width : 900px){
    .main-panel{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    navbar-cmp{
        left: 0px;
        width: 100%;
    }
}