#cadre{
    margin: auto;
    width: 90%;
    height: 90vh;
    border: 2px;
    border-radius: 10px;
    overflow: hidden;
    background: url("../../../assets/imageClient/***REMOVED***.jpg");
    //background: url("../../../assets/imageClient/.jpg")  no-repeat;
    background-size: 100%;
    box-shadow: 8px 8px 5px black;
    transform: rotate(0deg);
}
.ruche{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: relative;
    font-size: 15px;
    /*border-radius: 40px;*/
    padding: 2px;
    cursor: move;
    border-radius: 50px;
    box-shadow: 3px 2px 2px black;
}
#health_trend{
    width: 50%;
    height:100%;
    border: 2px solid orangered;
    border-radius: 8px;
}
#health_status{
    width: 50%;
    height: 100%;
   /* background-color: green;*/
    border: 2px solid orangered;
    border-radius: 8px;
}
select{
    padding: 8px;
}
.ruche:hover{
    //border: 3px solid blue;
    box-shadow: none;
}
#detail{
    margin: auto;
    width: 30%;
}
.statusA{
    border: 8px solid green;
}
.statusB{
    border: 8px solid yellow;;
}
.statusC{
    border: 8px solid orangered;
}
.Inconnu{
    border: 8px solid darkgray;
}