<div class="wrapper">
  <div class="sidebar" data-color="blue" data-image="">
      <app-sidebar ></app-sidebar>
      <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
  </div>

  <div class="main-panel">
      <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
      <router-outlet></router-outlet>
  
      
      <div class="container-fluid" style="background-color: white;">
            <div class="row content">
                <div id="cadre" [ngStyle]="style">
                    <div
                        data-toggle="tooltip" data-placement="top" [title]="infoRuche"
                        *ngFor="let ruche of rucheService.ruches; let i = index" 
                        [style.left.%]="ruche.hivePosX"
                        [style.top.%]="ruche.hivePosY"
                        [id]="i" (mouseover)="onMouseover(ruche)" (dblclick)="onClick(ruche);" (stopped)="onDragEnd($event)" [allowedOffsets]="offset" ngDraggable [class]="dailyRecTh.getStatus(ruche.id)">
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>