#cadre{
    margin: auto;
    width: 90%;
    height: 90vh;
    border: 2px;
    border-radius: 10px;
    overflow: hidden;
   /* background: url("../../../assets/img/rucher-loin.jpg") no-repeat center;*/
    background-size: 100%;
    box-shadow: 8px 8px 5px black;
}
.ruche{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    position: relative;
    font-size: 15px;
    /*border-radius: 40px;*/
    padding: 2px;
    cursor: move;
    border-radius: 10px;
    box-shadow: 3px 2px 2px black;
}
#health_trend{
    width: 50%;
    height:100%;
    border: 2px solid orangered;
    border-radius: 8px;
}
#health_status{
    width: 50%;
    height: 100%;
   /* background-color: green;*/
    border: 2px solid orangered;
    border-radius: 8px;
}
select{
    padding: 8px;
}
.ruche:hover{
    border: 3px solid blue;
}
#detail{
    margin: auto;
    width: 30%;
}
.statusA{
    background-color : green;
}
.statusB{
    background-color: orange;
}
.statusC{
    background-color: red
}
.statusInconnu{
    background-color: darkgray;
}