#cadre{
    margin: auto;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    height: 93vh;
    border: 2px;
    border-radius: 10px;
    overflow: hidden;
    background: url("../../../assets/imageClient/testAccount.png") no-repeat center;
    background-size: contain;
   // background-size: 100%;
    box-shadow: 8px 8px 5px black;
    transform: rotate(0deg);
}
.ruche{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: absolute;
    font-size: 15px;
    /*border-radius: 40px;*/
    padding: 2px;
    cursor: move;
    border-radius: 50px;
    box-shadow: 3px 2px 2px black;
}
#health_trend{
    width: 50%;
    height:100%;
    border: 2px solid orangered;
    border-radius: 8px;
}
#health_status{
    width: 50%;
    height: 100%;
   /* background-color: green;*/
    border: 2px solid orangered;
    border-radius: 8px;
}
select{
    padding: 8px;
}
.ruche:hover{
    //border: 3px solid blue;
    box-shadow: none;
}
#detail{
    margin: auto;
    width: 30%;
}

.statusAFluctuation{
   background: url("../../../assets/icons/wfbfl.png") no-repeat center;
}
.statusADecline{
    background: url("../../../assets/icons/wfbde.png") no-repeat center;
}
.statusAStable{
    background: url("../../../assets/icons/wfbst.png") no-repeat center;
}
.statusAImprove{
    background: url("../../../assets/icons/wfbim.png") no-repeat center;
}

.statusBImprove{
    background: url("../../../assets/icons/wnbim.png") no-repeat center;
}
.statusBFluctuation{
    background: url("../../../assets/icons/wnbfl.png") no-repeat center;
}
.statusBDecline{
    background: url("../../../assets//icons/wnbde.png") no-repeat center;
}
.statusBStable{
    background: url("../../../assets/icons/wnbst.png") no-repeat center;
}

.statusCImprove{
    background: url("../../../assets/icons/wobim.png") no-repeat center;
}
.statusCFluctuation{
    background: url("../../../assets/icons/wobfl.png") no-repeat center;
}

.Inconnu{
    background: url("../../../assets/icons/wos.png") no-repeat center;
}