.button {
    background-color: #70A8B2;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button0 {
    background-color: white;
    color: #4F4F51;
    border: 2px solid #70A8B2;
  }

  
.button0:hover {
    background-color: #4F4F51; 
    color: white; 
  }

#divButton{
    text-align: center;
}

#title{
  margin-left: auto;
  margin-right: auto;
  width: 600px; /* largeur obligatoire pour être centré */
  text-align: center;
  font-weight: bold;
}

#date{
  float: left;
  margin-left: 50px;
}
#header{
  font-size: large;
}

#page{
  border: 2px solid black;
}

.picto{
  height: 50px;
}

.noData{
  text-align: center;
  font-size: medium;
  margin-bottom: 10vh;
}

.tentacles{
  width: 75px;
}

/* .center-text{
  text-align: center;
} */