<!--
<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar ></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="userBLG">
            <iframe src="http://51.38.49.225:5601/app/kibana#/dashboard/5f4e3b70-4856-11e8-b317-dfe56e640e2d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'Wed%20Mar%2007%202018%2015%3A52%3A56%20GMT%2B0100'%2Cmode%3Aabsolute%2Cto%3A'Sun%20Mar%2025%202018%2020%3A02%3A42%20GMT%2B0200'))" height="1500" width="100%"></iframe>
        </div>
        <div *ngIf="userCLO">
            <iframe src="http://51.38.49.225:5601/app/kibana#/dashboard/aad257f0-4a24-11e8-b317-dfe56e640e2d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'Mon%20Mar%2012%202018%2013%3A27%3A32%20GMT%2B0100'%2Cinterval%3A'1d'%2Cmode%3Aabsolute%2Ctimezone%3AEurope%2FBerlin%2Cto%3A'Wed%20Apr%2025%202018%2019%3A16%3A01%20GMT%2B0200'))" height="1500" width="100%"></iframe>
        </div>
        <div *ngIf="userJCP">
            <iframe src="http://51.38.49.225:5601/app/kibana#/dashboard/1d253850-4867-11e8-b317-dfe56e640e2d?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'Mon%20Mar%2012%202018%2013%3A27%3A32%20GMT%2B0100'%2Cinterval%3A'1d'%2Cmode%3Aabsolute%2Ctimezone%3AEurope%2FBerlin%2Cto%3A'Wed%20Apr%2025%202018%2019%3A16%3A01%20GMT%2B0200'))" height="1000" width="1500"></iframe>
        </div>
        <div *ngIf="userJHE">
            <iframe src="http://51.38.49.225:5601/app/kibana#/dashboard/f9f1fe70-46d3-11e8-aea2-9b09ab5afc07?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'Thu%20Mar%2008%202018%2004%3A47%3A12%20GMT%2B0100'%2Cinterval%3Aauto%2Cmode%3Aabsolute%2Ctimezone%3AEurope%2FBerlin%2Cto%3A'Sat%20Mar%2024%202018%2011%3A40%3A48%20GMT%2B0100'))" height="1500" width="100%"></iframe>
        </div>
    </div>
    test
</div>
-->

    <div class="wrapper">
    <div class="sidebar" data-color="yellow" data-image="">
        <app-sidebar ></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp (messageEvent)="receiveMessage($event)"></navbar-cmp>
        <router-outlet></router-outlet>
    
        

<div class="container-fluid">
        <div class="row">
                <div class="col-sm-6 ">
                  <div class="card">
                    <div class="card-body text-center">
                      <h3 class="card-title"><b>Santé des colonies</b></h3>
                      <h3 class="card-title text-white">.</h3>
                      <h3 class="card-title">.</h3>
                      <h3 class="card-title">.</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-success btn-block">Colonies</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 ">
                        <div class="card text-center">
                          <div class="card-body">
                            <h3 class="card-title"><b>A faire</b></h3>
                            <h3 class="card-title">.</h3>
                            <h3 class="card-title">.</h3>
                            <h3 class="card-title">.</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-success btn-block">A faire</a>
                          </div>
                        </div>
                </div>
        </div>

        <div class="row">
                <div class="col-sm-6  text-center">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title"><b>Météo</b></h3>
                      <h3 class="card-title">.</h3>
                      <h3 class="card-title">.</h3>
                      <h3 class="card-title">.</h3>
                      <p class="card-text">With supporting text below as a natural </p>
                      <a href="#" class="btn btn-success btn-block">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-center">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title"><b>Fleurs</b></h3>
                            <h3 class="card-title">.</h3>
                            <h3 class="card-title">.</h3>
                            <h3 class="card-title">.</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-success btn-block">Fleurs</a>
                          </div>
                        </div>
                </div>
        </div>
        
</div>

