<h2 mat-dialog-title>This is a Dialog title</h2>

<mat-dialog-content>

    <form [formGroup]="rucherForm">
        <div class="form-group">
            <label for="nom" class="col-form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" id="nom">
            <div class="alert alert-danger"
                *ngIf="!rucherForm.controls['name'].valid && rucherForm.controls['name'].touched">
                select a name from 1 to 20 chars
            </div>
        </div>
        <div class="form-group">
            <label for="message-text" class="col-form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="message-text"></textarea>
            <div class="alert alert-danger"
                *ngIf="!rucherForm.controls['description'].valid && rucherForm.controls['description'].touched">
                description can be 40 chars max
            </div>
        </div>
        <div class="form-group">
            <label for="ville" class="col-form-label">City</label>
            <input formControlName="ville" type="text" class="form-control" id="ville">
            <div class="alert alert-danger"
                *ngIf="!rucherForm.controls['ville'].valid && rucherForm.controls['ville'].touched">
                select city name
            </div>
        </div>
        <div class="form-group">
            <label for="codePostal" class="col-form-label">Zip code</label>
            <input formControlName="codePostal" type="text" class="form-control" id="codePostal">
            <div class="alert alert-danger"
                *ngIf="!rucherForm.controls['codePostal'].valid && rucherForm.controls['codePostal'].touched">
                select zip code
            </div>
        </div>
        <!--
              <div class="form-group">
                <label for="">Image</label>
                <input name="image" (change)="onPictureLoad($event)" type="file">
             </div>-->

        <label>Select picture from Apiary :</label>
        <input style="display: none" type="file" ngf [(file)]="photoApiary" [(lastBaseUrl)]="newApiary.photo"
            #fileInput>
        <button (click)="fileInput.click()" class="btn btn-large btn-block btn-info">Select File</button>
        <div id="upload-group">
            <div ngfDrop [(validDrag)]="baseDropValid" [(file)]="photoApiary" class="well my-drop-zone"
                [(lastBaseUrl)]="newApiary.photo" [class.valid-drag]="baseDropValid">
                Base drop zone
            </div>
            <div [ngfBackground]="photoApiary"
                style="background-size:cover;background-repeat:no-repeat; background-position:center; min-height:20px;">
            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
        <button mat-button [disabled]="!rucherForm.valid" (click)="apiarySubmit()" cdkFocusInitial>Ok</button>
    <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>